[2010-02-16 13:56] dtchepak opened #1 "Need to ILMerge output assemblies into single NSubsitute.dll"
Need to update the build to ilmerge assemblies so users don't need to reference Castle Core and Dynamic Proxy.

[2010-03-17 04:25] AnthonyEgerton opened #2 "Want ability to ignore selected arguments"
Want ability to ignore selected arguments

[2010-03-28 08:04] dtchepak opened #3 "Raise events from substitutes"

[2010-04-14 02:09] dtchepak opened #4 "Ignore all arguments from within Received() call"
engine.Received(With.AnyArgs).DoSomething(null, null, 0);
engine.Received(With.AnyArgs).Idling += null;

[2010-05-04 12:35] #1 closed, assigned to nobody

[2010-05-04 12:36] #2 closed, assigned to nobody

[2010-05-04 12:37] #3 closed, assigned to nobody

[2010-05-25 10:21] dtchepak opened #5 "PERF: IgnoreCallRouterCallsHook should override Equals and GetHashCode"
Castle.DynamicProxy Warning: 0 : The IProxyGenerationHook type NSubstitute.Proxies.CastleDynamicProxy.CastleDynamicProxyFactory+IgnoreCallRouterCallsHook does not override both Equals and GetHashCode. If these are not correctly overridden caching will fail to work causing performance problems.

[2010-06-03 06:44] dtchepak opened #6 "Method to clear recorded calls"
Need to be able to clear recorded calls on a substitute.

Potentially also clear stubbed return values?

[2010-06-11 06:26] #6 closed, assigned to nobody

[2010-06-11 06:30] dtchepak opened #7 "Implement DidNotReceive()"
Have Received(). Also require inverse: DidNotReceive().

[2010-06-22 13:50] #7 closed, assigned to nobody

[2010-06-22 13:50] #4 closed, assigned to nobody

[2010-06-29 13:39] dtchepak opened #8 "Need option to ignore arguments when stubbing values"
We have ReceivedWithAnyArgs().

Also need an equivalent for specifying return values.

One possibility:

calculator.Add(1, 2).ReturnsForAnyArgs(10);

[2010-06-29 16:21] dtchepak opened #9 "Improve matching of arg matcher/arg combinations"
e.g. For interface ICalculator { int Add(int a, int b); }
calculator.Add(10, Arg.Any<int>());

NSub should be able to work out which param the arg matcher relates to (as 10 is not default(int)). Currently it throws ambiguous match and forces you to use Arg.Is(10).

[2010-06-30 13:22] #8 closed, assigned to nobody

[2010-07-01 00:36] dtchepak opened #10 "Problems running on x64 / mixed platform assemblies"
Saw a BadImageFormatException in one case. Needs investigation.

[2010-07-01 22:20] #10 closed, assigned to nobody

[2010-07-05 10:56] dtchepak opened #11 "Recursive mocks / mock property defaults"

[2010-07-05 10:57] dtchepak opened #12 "Ordered mocks"
See [Pending] acceptance tests.
May need syntax review.

[2010-07-07 11:12] dtchepak opened #13 "Setting return/received on non-proxyable class member should throw exception"
Currently subbing for a class and setting a return value on a non-virtual method behaves erratically (based on what it calls).

Should get this throwing an exception or somehow warning the user. May need to look at stack trace and make sure last call to call router matches the actual call.

[2010-07-09 10:39] #9 closed, assigned to nobody

[2010-07-09 11:06] dtchepak opened #14 "For Received() exception show which args do not match"
When listing actual calls to sub, delineate the args that do not match call spec with '*' characters.

E.g. Expected:
  mySub.Something(IController)
Actual (non-matching arguments marked with _'s):
  mySub.Something(_IController*)

[2010-07-09 11:07] dtchepak opened #15 "Need option to ignore args for When..Do syntax"
To match ReceivedWithAnyArgs and ReturnsForAnyArgs etc.

Example:
sub.WhenForAnyArgs(x => x.DoSomething()).Do(somethingElse)

[2010-07-09 11:35] dtchepak opened #16 "Mono compatibility"

[2010-07-09 11:36] dtchepak opened #17 "Silverlight compatibility"

[2010-07-10 13:12] #15 closed, assigned to nobody

[2010-07-10 14:13] #14 closed, assigned to nobody

[2010-07-15 23:53] dtchepak opened #18 "Query model for received calls"
Adding this as a placeholder for the feature while it is being planned.

Rather than expanding the API to support things like "received 4 times", it might be better to encapsulate that in a nice query model. Currently have ReceivedCalls() : IEnumerable<ICall> as a starting point, but will need to add some convenience methods for selecting calls to particular members (probably using lambdas/express

[2010-07-21 05:37] dtchepak opened #19 "Array and string members should default to empty values, not null"
Extend for to cover all IEnumerables?

Could conceivably extend to cover everything with an Empty static factory method/property, but that would probably be too unreliable.

[2010-07-23 06:23] rodrigoelp opened #20 "Raising delegate as an event."
Trying to raise a custom event handler definition I got a compilation error. The following code illustrates the issue.

namespace NSubstitute.Issue
{
    public delegate void WeirdHandler(WeirdEventArgs args);

[code]

}

[2010-07-23 07:00] dtchepak opened #21 "Out and ref parameters"

[2010-07-23 20:58] #20 closed, assigned to nobody

[2010-07-30 01:34] AnthonyEgerton opened #22 "When event handler throws exception, a different exception is thrown"
When calling Event.Raise, if an exception is thrown in an event handler it is wrapped in a DynamicInvocation Exception.
It should throw the original exception

[2010-08-12 01:40] #19 closed, assigned to nobody

[2010-08-26 05:35] dtchepak opened #23 "Substituting with interface inheritance"
http://twitter.com/DavidBurela/statuses/22153365543:

@nsubstitute @davetchepak if I have `IMyInterface : IOtherInterface<int>`. Then Substitute<IMyinterface> doesn't mock otherinterface methods

[2010-09-02 01:51] #23 closed, assigned to nobody

[2010-09-07 00:08] dtchepak opened #24 "Exception message review"
Some exceptions do not have decent messages. Should review all nsub exceptions and make sure they are thrown with a decent explanation.

Also should update formatting for arg specs that use an Expression<>.

[2010-09-07 03:26] #22 closed, assigned to nobody

[2010-09-09 23:45] dtchepak opened #25 "Expand CallNotReceivedException message to include overloads of expected method"
For example:

sub.Received().MyMethod(1, "first")

Should list:
MyMethod(1)
MyMethod(2, "first")

Possibly other generic instances of method too:
MyMethod<string>("first", "second")

[2010-09-15 00:16] dtchepak opened #26 "Re-entrant sub creation causes LastCallRouter to be incorrectly cleared"
Setting a Returns() within a Returns() leads to global LastCallRouter being incorrect. May need to look at using a stack for LastCallRouter so we can handle this.

Example of bug:
    sub.SomeCall().Returns(CreateASub2());
    ...
    ISub2 CreateASub2() {
        var sub2 = Substitute.For<ISub2>();
        sub2.OtherCall().Returns(3); // <--- Problem here
    }

Working example thanks to Xerx:
~h

[2010-09-15 21:45] dtchepak opened #27 "Documentation: Compile code samples from documentation"
Verify code used in documentation is correct by compiling and running.

[2010-09-21 06:11] shannoncornish opened #28 "NullReferenceException when creating a sub for SynchronizationContext"
How to reproduce:
Substitute.For&lt;SynchronizationContext&gt;();

Exception:
System.NullReferenceException : Object reference not set to an instance of an object.
at Castle.DynamicProxy.AttributeUtil.<GetNonInheritableAttributes>d__0.MoveNext() in c:\TeamCity\buildAgent\work\f0c43d96621436a8\src\Castle.Core\DynamicProxy\AttributeUtil.cs: line 150
at Castle.DynamicProxy.Contributors.ClassProxyInst

[2010-10-05 13:48] #28 closed, assigned to nobody

[2010-10-11 00:17] #11 closed, assigned to nobody

[2010-10-11 00:19] #16 closed, assigned to nobody

[2010-10-11 00:20] dtchepak opened #29 "Run tests over multiple framework version as part of build"
Run build against NET35, NET40, SL (when supported), Mono.

[2010-10-11 00:20] #5 closed, assigned to nobody

[2010-10-11 00:21] #27 closed, assigned to nobody

[2010-10-11 00:23] dtchepak opened #30 "Documentation (ongoing)"
Keep fleshing out docs passed v1.0 as required. (Based on feedback, usergroup questions etc).

[2010-10-11 12:45] dtchepak opened #31 "Not picking up ambiguous arg matchers properly"
[code]

This test fails at the `Assert.AreEqual` because it gets `0`, not `5`.

I expected to get an `AmbiguousArgumentsException` because it could not tell which argument the `Arg.Any<int>()` arg matcher applied to. Either that or have the test pass because I called `Add(0, 1)` which I stubbed to give `5`.

[2010-10-13 06:00] shannoncornish opened #32 "Removing event handler while raising the event on a substitute causes collection modified exception"
sub = Substitute.For<IHaveEvents>();

void RaiseEvent()
{
  sub.Event += RemoveThisEventSubscriptionWhenRaised;
  sub.Event += Raise.Event();
}

void RemoveThisEventSubscriptionWhenRaised(object sender, EventArgs e)
{
  sub.Event -= RemoveThisEventSubscriptionWhenRaised;
}

[2010-10-13 09:40] #32 closed, assigned to nobody

[2010-10-14 11:42] #31 closed, assigned to nobody

[2010-10-19 23:26] dtchepak opened #33 "Raising delegate (non-EventHandler) events"
Event is declared as delegate (i.e. not an EventHandler). So can't use Raise.Action or Raise.Event.

[code]

Another example is: `_AppDomain.UnhandledException event`

[2010-10-20 06:13] dtchepak opened #34 "Params arg matching bug"
Following test fails with `System.InvalidCastException : Unable to cast object of type 'nsubrepro.Specification`1[nsubrepro.User][]' to type 'nsubrepro.Specification`1[nsubrepro.User]'.`. Is trying to treat the single arg spec as the params array.

[code]

[2010-10-20 23:11] #34 closed, assigned to nobody

[2010-10-26 12:18] #24 closed, assigned to nobody

[2010-10-26 12:57] dtchepak opened #35 "Search documentation"
Google Custom Search Engine (or other) for search from NSub help.

Possibly try out jekyll auto-gen'd related links and see if they are helpful.

[2010-10-26 13:20] dtchepak opened #36 "Subbing for Func<int>"
Subbing for Func<int> is giving strange null ref exs:

[code]

Repro in [139d39](http://github.com/nsubstitute/NSubstitute/commit/139d30fbf57bb99aeedbc9ccb8190b959303b6dc)

[2010-10-27 06:08] #36 closed, assigned to nobody

[2010-11-01 05:44] #33 closed, assigned to nobody

[2010-12-13 12:20] dtchepak opened #38 "Setting return value to null causes NullReferenceException on call"
[code]

Thanks to [@AbstractCode](http://twitter.com/abstractcode) for the bug report.

[2010-12-13 12:30] #38 closed, assigned to nobody

[2010-12-17 04:59] dtchepak opened #39 "Add downloads feed to documentation page"
Just link to feed from github downloads.

[2010-12-17 05:00] dtchepak opened #40 "Add nsub icon to nuget nuspec"
32x32 PNG, transparent background.
Add to nuspec, iconUrl element.

[2011-01-05 04:49] dtchepak opened #41 "Support for Partial Mocks"
http://stackoverflow.com/questions/4600825/does-nsubstitute-support-the-idea-of-partial-mocks

http://www.ayende.com/wiki/Rhino+Mocks+Partial+Mocks.ashx

[2011-01-05 04:54] #40 closed, assigned to nobody

[2011-01-26 23:33] dtchepak opened #42 "Look at thread-local storage for running tests in parallel"

[2011-02-05 10:50] #42 closed, assigned to nobody

[2011-02-22 10:02] #13 closed, assigned to nobody

[2011-03-21 11:19] dtchepak opened #43 "nSubstitute fails when trying to substitute Microsoft.Office.Interop.Word.Application"
nSubstitute fails when trying to substitute Microsoft.Office.Interop.Word.Application

Reported:
http://twitter.com/#!/JakeGinnivan/status/49789049413713920

[2011-03-29 04:45] dtchepak opened #44 "Identifying substitutes"
Scenario here:

https://gist.github.com/b759fa100814bd04eb11

Could create with a Name or allow overriding ToString(). Perhaps provide default id# for substitutes.

[2011-05-04 06:14] dtchepak opened #45 "CallInfo.Arg<T>() fails for null argument"
[code]

Fails when `myFoo` is null, I think because the code tries to search an `object[]` for a type `Where(x => x is IFoo)`.

[2011-05-05 09:17] dtchepak opened #46 "Received() and DidNotReceive() should have decent error msgs when called on null"
[code]

Code to change: http://bit.ly/lXBmUs

[2011-05-05 14:03] #46 closed, assigned to dtchepak

[2011-05-06 00:53] AnthonyEgerton opened #47 "Exception when using null parameter for raising events"
With this definition
`public delegate void ProgressEventHandler(int progress, string Message);`

When raising event like this
`Subject.OnProgress += Raise.Event<ProgressEventHandler>(57, null);`

I get the following exception

System.NullReferenceException : Object reference not set to an instance of an object.
at NSubstitute.DelegateEventWrapper`1.RequiredArgsHaveBeenProvided(Object[] providedArg

[2011-05-07 10:00] dtchepak opened #48 "Serialising substitutes"
Reported on the [mailing list](http://groups.google.com/group/nsubstitute/browse_thread/thread/e66044d40ee4b79a).

[code]

When I run this, I get the following error (happens at the Serialize()
call):

System.MethodAccessException was unhandled
 Message=Attempt by method
'Castle.Proxies.RootProxy.GetObjectData(System.Runtime.Serialization.SerializationInfo,
System.Runtime.Serialization.StreamingCo

[2011-05-08 12:59] #45 closed, assigned to dtchepak

[2011-05-10 12:57] #47 closed, assigned to dtchepak

[2011-07-28 03:56] #43 closed, assigned to nobody

[2011-08-16 02:17] dtchepak opened #52 "Auto-subbing from Func delegates"
[code]

[2011-08-17 05:17] dtchepak opened #53 "Property behaviour for indexers don't work"
[code]

Thanks to @rbanks54 for the bug report.

[2011-08-18 12:55] xerxesb opened #54 "NSubstitute CI Build"
Create CI Build for NSubstitute Trunk

[2011-08-18 23:22] #54 closed, assigned to xerxesb

[2011-08-21 13:40] #53 closed, assigned to nobody

[2011-08-24 10:58] dtchepak opened #55 "Arg.Any<subclass>() not overridden properly by ReturnsForAnyArgs()"
If a method takes an `object`, and we use a matcher for any `string`, then override it using ReturnsForAnyArgs, we don't actually match any args; we keep restricting to the sub-class (`string`).

[code]

[2011-09-05 07:00] dtchepak opened #56 "Nested property calls across different mocks"
[code]

[2011-09-05 13:24] #55 closed, assigned to nobody

[2011-09-12 02:08] dtchepak opened #57 "Setting virtual prop in ctor causes Returns to use auto-sub"
[code]

[2011-09-12 14:37] #57 closed, assigned to nobody

[2011-09-29 10:36] asbjornu opened #58 "12 failing tests in the master branch"
I've just forked and cloned the master branch and find that 12 of the tests fail out of the box. The failing tests are:
- `NSubstitute.Acceptance.Specs`:
  - `ArgumentInvocationFromMatchers`:
    -  `Call_with_invoke_matcher_should_not_count_as_a_received_call()` (line 81)
    -  `Invoke_callback_from_matcher()` (line 26)
    - `Invoke_callback_with_argument_using_specific_delegate_type()` (line 5

[2011-09-30 12:37] #58 closed, assigned to dtchepak

[2011-10-05 21:47] dtchepak opened #59 "Mixing Arg.Do with Returns for properties"
Issue noted on [this StackOverflow question](http://stackoverflow.com/questions/7637024/nsubstitute-intercepting-setter-only-property-invocation):

[code]

[2011-10-08 06:02] dtchepak opened #60 "Avoid replicating ServiceContractAttribute"
WCF complains if the ServiceContractAttribute appears more than once in the type hierarchy, so should avoid replicating this to proxy. See [Matt's post](http://bronumski.blogspot.com/2011/09/hosting-mock-as-wcf-service.html).

From Matt's bug report:

Exception is: InvalidOperationException - The service class of type Castle.Proxies.IMyServiceProxy both defines a ServiceContract and inherits a Ser

[2011-10-09 09:24] dtchepak opened #61 "Stub any string and pass null throws null ref from NSub (1.2)"
[code]

[code]

[2011-10-09 12:12] #61 closed, assigned to nobody

[2011-10-09 22:49] #60 closed, assigned to dtchepak

[2011-10-10 13:30] #59 closed, assigned to dtchepak

[2011-10-10 14:05] #30 closed, assigned to nobody

[2011-10-14 12:50] dtchepak opened #62 "Multi-threaded calls to a substitute"
Calling substitutes from multiple threads (e.g. using plinq / TPL) can cause problems. This case refers to calls to the proxy from production code, not configuration from within a test.

Original report used parallel exec in the business logic and resulted in "Index outside of range exceptions" in System.Collections.Generic.Stack`1.Push(T item) inside the NSubstitute code. Exception frequency was

[2011-10-22 13:18] #62 closed, assigned to nobody

[2011-12-06 08:47] dtchepak opened #64 "Race condition between checking received calls"
@JakeGinnivan reported getting [the following exception](https://gist.github.com/1436620) when testing some multithreaded code:

[code]

This [enqueued_action_is_not_executed_before_previous_action_finished](http://phoenixframework.codeplex.com/SourceControl/changeset/view/274263f762ad#src/Phoenix.WPF.Tests/Framework/ActionInvokerTests.cs) test failed intermittently (passed on its own, failed when

[2011-12-06 22:01] #64 closed, assigned to nobody

[2012-01-02 13:41] dtchepak opened #65 "ReceivedCallsException should list details of params arguments"
Currently just says "Add(_Car[]_)" rather than "Add(_Car_, _Car_)".

[2012-02-03 05:19] robdmoore opened #66 "Received() should keep a copy arguments to the call"
Hopefully my test is fairly self-explainatory. I realise this isn't easy to do. Perhaps using something like ValueInjector could be used though?

[code]

[2012-02-06 11:37] #66 closed, assigned to nobody

[2012-02-14 09:23] cordis-dev opened #67 "Auto-subbing from IQueryable"
public interface ITest
        {
            IQueryable<object> GetQueryable();
        }

        [Test]
        public void TestNSubstituteWithIQueryable()
        {
            var testInterface = Substitute.For<ITest>();
            var queryable = testInterface.GetQueryable();

            Assert.IsNotNull(queryable.Expression);
            // E.g. Moq would return DebugView of ".Constant<Sys

[2012-03-01 23:04] dtchepak opened #69 "Exception substituting for internal types of a friend assembly"
First assembly:

[code]

From first assembly's AssemblyInfo:

[code]

Second assembly:

[code]

Fails creating substitute:

[code]

[2012-03-05 12:02] #69 closed, assigned to nobody

[2012-03-16 20:52] kfsit opened #70 "Losing items from IEnumerable<T>"
Hi, I'm new to NSubstitute and have been liking what I've seen.  I ran into an issue that seems strange to me.  When subbing an IEnumerable<T> list the first time I access the list it's fine but after the first time the list is then lost from the substitute object.  I'm not sure if this was by design or not, thanks for any information.

Take the following example

[code]

[2012-03-17 16:04] #70 closed, assigned to nobody

[2012-03-20 12:12] #65 closed, assigned to nobody

[2012-03-20 14:16] #52 closed, assigned to nobody

[2012-03-26 04:44] JeremyThompson opened #74 "OOM with large Interop's"
Hi Guys,

When you scroll down intellisense lists with large interop objects it results in a OOM. I can live with it, its just annoying so I thought I’d report it:

Repro:
using NSubstitute;
using Microsoft.Office.Interop.Excel;
var excelApp = Substitute.For&lt;Application&gt;();

Expand the Intellisense and you get this error:
A fatal error has occurred and debugging needs to be terminated. For m

[2012-04-27 09:53] dtchepak opened #75 "Does not work with members that use dynamic"
Exception:

[code]

Code:

[code]

[2012-04-29 10:24] perbrage opened #76 "NSubstitute can't produce proxys in Mono (as requested)"
As requested on twitter here is some code that will reproduce the error while using NSubstitute in mono. I've included the stack trace below as well. FakeItEasy also fails on this code, but with other exceptions. Rhino.Mocks can handle it.

[code]

Stack trace:

System.Collections.Generic.Dictionary`2[System.String,System.Reflection.Emit.GenericTypeParameterBuilder].get_Item (System.String key) in

[2012-05-16 09:14] tamasarpad opened #77 "Argument matchers in class that overwrites Equals"
When I'd like to tell a substituted service's method to return something for an also substituted parameter, it doesn't work. I think it's because the substituted parameter's class overwrites Equals().

I've written two tests:

[code]

I know in the second test I could write something like
service.AMethod(Arg.Is<AClassThatOverwritesEquals>(x => ReferenceEquals(x, secondSub))).Returns(2);
but in my

[2012-05-22 13:23] dtchepak opened #78 "Nullable args broken"
[code]

[2012-05-28 13:13] #78 closed, assigned to nobody

[2012-06-21 01:37] vantheshark opened #81 "ReturnsForAnyArgs seems to nolonger work for optional parameters"
It was working fine on version 1.3.0.0. I Updated to 1.4 this morning and all failed >.<

My Interface:

[code]

I created a substitute like this in version 1.3 and it works:

[code]

It used to return exact the list with 3 items. Now it always return a proxy of IList<MyDocument>

Any idea?

[2012-07-01 12:50] #81 closed, assigned to nobody

[2012-08-13 09:04] tomsdev opened #82 ".Net 4.5 assembly / Windows 8 apps"
Will you make a build for .Net 4.5? And for .NetCore (metro apps)?  I need it to test windows 8 apps.

[2012-08-15 00:10] dtchepak opened #83 "Calls to generic methods with struct constraint"
[code]

[2012-08-15 00:51] #83 closed, assigned to nobody

[2012-08-24 07:01] jgauffin opened #84 "Add overload for Call.ToString()"
It would be nice if `Call.ToString()` could print out as the call would look like. i.e. something like:

[code]

Would print

[code]

[2012-08-31 09:16] jgauffin opened #85 "Add extension point for substitute initialization"
I would like to be able to add random values to all of my substitutes according to some internal business rules. To be able to do that there have to be some kind of extension point in nSubtitute.

something like:

[code]

so that I can:

[code]

All assigned values should of course be overwritten by the substitute setup.

[2012-09-04 17:54] gregnehus opened #86 "Conflicting Castle reference"
It would be great if the nuget package depended on Castle.Core and the aforementioned library was not merged into NSub's dll. This issue was referenced at: http://stackoverflow.com/questions/12266279/how-to-fix-type-exists-in-both-assemblies-failure-when-using-dynamicproxy-type

[2012-10-26 08:37] ramonsmits opened #87 "Easy way to return null"
You cannot easily call .Returns as .Returns(null). You need to cast the null value to the correct type. It would be nice if there was a method ReturnsNull().

[2012-12-20 04:11] JakeGinnivan opened #89 "Additional Args on stack should throw good exception"
Take this code

[code]

There are TWO string arguments on the stack, and the receive call will fail. This should throw a more meaningful exception.

When this sort of thing happens tests can poison the next running test, and is very hard to understand why it is failing

I would like to see:

AdditionalArgumentsException("More arguments have been specified using the Arg.Is/Arg.Any type, look for Ar

[2012-12-20 13:32] JakeGinnivan opened #90 "Automock Task/Task<T>"
I started implementing, then got caught by the silverlight stuff and an Rx version of System.Threading? Wasn't sure where to go with it.. Anyways, here is a linkpad script showing it off:

[code]

And started implementing some tests, but couldn't run. I assume the Rx threading assembly is embedded and I was getting compilation issues with duplicated definitions once i added it.

[code]

We are usi

[2012-12-27 08:27] robdmoore opened #93 "Partial mocking when unit testing a virtual method that calls another virtual method"
NSubstitute implicitly supports partial mocking by virtue of the fact that if there is a method in your class that you want to mock out and you want to unit test non-virtual methods in your class that call the virtual method then an NSubstitute substitute will allow you to mock the virtual method only.

In situations where you have a virtual method (because you want to partially mock it for unit t

[2012-12-29 11:38] #77 closed, assigned to dtchepak

[2013-01-04 11:15] imshz opened #95 "If one interface implements another interface and both contains the same property the property is not set on the original object that implements the first interface"
Hi,

It look like nsubstitute implements the interfaces explicitly.
Is there any possibility to create a substitute that is not implemented explicitly?

Here is my test code:

[code]

[2013-01-09 14:45] georg-zeiser opened #96 "TypeLoadException when debugging"
I'm trying to use NSubstitute...
If just running the Unit-Tests, it works fine. But when debugging, I'm getting a TypeLoadException.

NSubstitute 1.4.3.0
NUnit 2.4.8.0

I'm using the Testrunner of ReSharper 5.1

TypeLoadException:
GenericArguments[0], 'T', on 'Castle.Proxies.Invocations.IMyInterface_Get[TRouteDefinition]' violates the constraint of type parameter 'TRouteDefinition'.

Stacktrace:
a

[2013-01-13 07:29] haacked opened #98 "Allow chaining a callback method before the Returns call."
Suppose I have the following interface.

[code]

I love the current syntax for setting up a return value. So simple.

[code]

But if I need to also run a callback, my tight clean code gets a bit ugly. Not too ugly, but ugly. I can no longer use a simple lambda, I have to use a code block.

[code]

What I'd love to do instead is chain a callback before the `Returns` call.

[code]

If it feels more

[2013-01-17 15:41] alexandrnikitin opened #99 "Return multiple results from collection of Funcs"
I've explained the feature on [Google groups](https://groups.google.com/forum/?fromgroups=#!topic/nsubstitute/1IrS7R5F7Ig)

The feature meaning is to set Returns values via Funcs.
Like this:
    _something.Count().Returns(
        _ => 1,
        _ => 2,
        _ => 3);

[2013-01-22 23:49] #99 closed, assigned to nobody

[2013-02-03 11:52] #29 closed, assigned to nobody

[2013-02-03 11:52] #12 closed, assigned to nobody

[2013-02-03 11:52] #17 closed, assigned to nobody

[2013-02-03 11:54] #21 closed, assigned to nobody

[2013-02-03 11:56] #90 closed, assigned to nobody

[2013-02-03 12:00] #18 closed, assigned to nobody

[2013-02-14 06:44] #96 closed, assigned to nobody

[2013-03-14 02:09] bendetat opened #104 "Exception should be thrown when trying to apply Returns on something that isn't a substitute"
I'm not sure if this is possible or if it is related to Castle as I haven't looked at the internals. IMO if I try to apply `Returns` to something that isn't a substitute then an exception should be thrown by NSub.

Given:

[code]

then:

[code]

is a passing test, but if I swap `foo` for a concrete implementation:

[code]

the test fails without anything specific other than `FooGuid` being `Guid.E

[2013-03-14 19:00] AndyZEvans opened #105 "Generate diagnostic when trying to call Received on a non-virtual method"
In moving from Moq to NSubstitute, I found that a diagnostic was missing if I illegally try to call Received or DidNotReceive on a non-virtual function. It would be nice if it would complain, rather than silently passing.

---

Example: if I declare an interface, both NSubstitute and Moq work as expected:

<pre>public interface InterfaceWithA
{
    int a();
}

[TestMethod()]
public void UsingNSubs

[2013-03-20 17:04] mhlavacek opened #106 "Clearing Out All Substitutions"
I'd like to add a way that I can reset the current SubstitutionContext so all my previous substitions are cleared out.  Sometimes I will run into issues where a substitution lives on across many test fixtures if do not set a substitution back to it's original implementation (for static properties used as quick 'mocking' points).

Does this feature already exist?  If not, any tips on the best way t

[2013-04-18 06:31] jgauffin opened #107 "Verifying event subscriptions"
I want to be able to verify that the SUT has subscribed on the correct events.

Tested code:

    public MyClass
    {
        public MyClass(ISomeDependency dep)
        {
            dep.MesageReceived += OnMessageReceived;
        }
    }

To test that code I would like to be able to do something like this:

    var mock = Substitute.For<ISomeDependency>();

    var sut = new MyClass(mock);

[2013-04-19 13:15] #98 closed, assigned to dtchepak

[2013-05-14 06:12] jgauffin opened #108 "Ability to use add reason for a check"
I'm using NSubstitute together with FluentAssertion. We code our projects using TDD.

In fluent assertions I can motivate my tests like this:

    actual.Should().BeNull("we should ignore all incorrect trainIds since they can't have time tables");

By doing so I can show which business rule every assert verifies. If the rule is broken I get an assert message like:

    Expected <null> because we s

[2013-05-17 10:11] alex-de-haas opened #109 "Actually received no matching calls"
using System;
using NSubstitute;

namespace ConsoleApplication1
{
    public interface IA
    {
        void B(string c);
    }

[code]

}

[2013-05-30 13:12] msnelling opened #110 "SerializationException thrown on user exception in Raise.EventWith()"
I'm testing exception handling in a class that registers as an event handler on a mocked interface. When the event is fired using Raise.EventWith() the class being tested calls a method on the mocked interface which in turn throws an exception. I expect this exception to propagate out of Raise.EventWith() for my test.

However I actually get a SerializationException exception thrown from inside Ra

[2013-06-14 03:52] dtchepak opened #111 "Args matches with out/ref broken"
From [the group](https://groups.google.com/group/nsubstitute/browse_frm/thread/d8e07a98c5c8dda8):

[code]

I believe this [used to work](http://stackoverflow.com/questions/3790000/does-nsubstitute-support-ref-parameters).

[2013-06-29 11:32] #110 closed, assigned to nobody

[2013-07-09 06:54] alexandrnikitin opened #114 "Args matches with optional parameters broken"
[code]

The test throws an exception: AmbiguousArgumentsException.

[2013-07-12 16:20] ericklombardo opened #115 "List parameters doesn´t detect received calls"
According to the following example:

[code]

If a method has a Collection parameter, and the collection has the same elements....the Received methods doesn´t detect that the parameter are equivalent, it seems that the parameters are check by reference, if they reference the same object

[2013-07-13 00:15] #115 closed, assigned to nobody

[2013-07-17 23:28] shiftkey opened #117 "MSBuild All The Things"
As a contributor
I want to be able to build NSubstitute without needing ruby + gems
So that I can have a simpler dev environment

While it would be nice to drop the whole ruby dependency from the build, it's going to be easier to do this gradually by switching functions across from ruby into MSBuild scripts.

Tasks:
- [ ] implement `version_assemblies` in MSBuild and replace ruby implementation
-

[2013-10-23 14:15] robdmoore opened #118 "Mocking concrete classes with a public static method breaks the substitutes"
When you add a public static method to a concrete class that is the return type of an interface being mocked then that interface no longer returns a substitute of that instance any more by default (instead returning null). I've referenced a breaking test (as well as some accompanying sanity tests demonstrating the behaviour if there isn't a public static method).

I'm sure I had trouble setting up

[2013-10-25 05:41] helix87 opened #120 "ArgumentNullException while mocking a large interface in a unit test project"
Hello,

I have to mock a large interface (~630 methods).

Im using the TestInitialize method to create new mocks for every unit test where _mJob = Substitute.For(Of IJobInterface)() throws an ArgumentNullException.

The same line in a test form (non unit test project) seems to work.

Thank you

[2013-10-26 03:22] #118 closed, assigned to nobody

[2013-10-28 21:53] #76 closed, assigned to dtchepak

[2013-11-01 10:31] dtchepak opened #121 "Raising event on substituted class fails"
[code]

[2013-11-13 10:47] #114 closed, assigned to nobody

[2013-11-13 10:48] #111 closed, assigned to nobody

[2013-11-14 10:42] jgauffin opened #124 "Improve error message"
I got the following error message "Could not find a call to return from" on the following:

[code]

The problem was that the method was not virtual. Maybe an error method that says that the method is not virtual?

Because now I through that I had configured something incorrectly (something that I've setup earlier as indicated by the exception `CouldNotSetReturnDueToNoLastCallException`).

[2013-11-14 11:12] #124 closed, assigned to nobody

[2013-12-02 21:18] mrinaldi opened #125 "NSubstitute throws exception setting up return value when it's a sealed class with no public method"
[code]

[2013-12-03 02:07] #125 closed, assigned to nobody

[2013-12-13 12:28] jgauffin opened #128 "BeCloseTo for timespan"
Can you add BeCloseTo(expected, allowedVariation) for TimeSpan?

Example:

[code]

the second argument is the amout of time that is allowed to differ.

[2013-12-13 13:55] #128 closed, assigned to nobody

[2014-01-06 11:24] dtchepak opened #129 "Ambiguous args with out/ref arg"
Broken in 1.7. From #111 or #114?

[Example from Google Group](https://groups.google.com/forum/#!topic/nsubstitute/ZcNsLB8xb-A):

[code]

[2014-01-07 10:50] mikeedwards83 opened #130 "DidNotReceive with Count"
The receive method has a count, e.g.

calc.Received(2).Add(1,2);

but DidNotReceive does not. It would be useful to be able to assert the following:

calc.Received(2).Add(1,2);
calc.DidNotReceive(3).Add(1,2);

This would then ensure that Add was called at least twice but not more than three times.

[2014-01-07 10:55] #130 closed, assigned to nobody

[2014-01-10 01:58] jpierson opened #131 "Better support for delegates would be nice"
Recently I've just become a convert to the use of mocks and have been giving NSubstitute a stab when I stumbled across the need to place some small amount of behavior that modifies an object passed in as an argument to a method which I need to specify as a delegate to object being tested. In my specific case the method in question happens to be the Subscribe method that is part of the [Rx library]

[2014-01-10 10:06] #109 closed, assigned to nobody

[2014-01-16 20:26] #93 closed, assigned to nobody

[2014-01-16 23:00] #129 closed, assigned to nobody

[2014-01-17 07:04] KATTAHitoshi opened #134 "AmbiguousArgumentsException with int out/ref arg"
## When all arguments are int type, out/ref arg  throws this exception.

NSubstitute.Exceptions.AmbiguousArgumentsException : Cannot determine argument specifications to use.
## Please use specifications for all arguments of the same type.

public interface ILookup {
    bool TryLookup(int key, out int value);
}

//Arrange
var value = 0;
var lookup = Substitute.For<ILookup>();
lookup
    .TryLooku

[2014-01-20 02:18] #134 closed, assigned to nobody

[2014-01-23 10:45] alexandrnikitin opened #139 "Support for multiple return values for When/Do"
Based on [google groups post.](https://groups.google.com/d/topic/nsubstitute/cS3J0Mila30)
First of all, Do() should correspond with Returns. Secondly, it could be useful :smile:

[2014-02-14 10:31] lisamariet opened #142 "Bug when using out parameter in an inline method call"
Unit test code:
![unittestassert](https://f.cloud.github.com/assets/5948299/2169870/6e3ea8aa-9562-11e3-810c-5554e925160e.png)

Writing code like this => Test is green
![explicitvariable](https://f.cloud.github.com/assets/5948299/2169879/a8bef46c-9562-11e3-9950-5a175f8c5cc2.png)

Changing only to have method inline in If => Test is red
![inlineif](https://f.cloud.github.com/assets/5948299/2169897/0

[2014-02-18 11:35] #142 closed, assigned to nobody

[2014-03-04 03:30] dtchepak opened #143 "Dynamic binding with non-dynamic return"
Split from #75.

[Example](https://github.com/nsubstitute/NSubstitute/blob/master/Source/NSubstitute.Acceptance.Specs/FieldReports/Issue75_DoesNotWorkWithMembersThatUseDynamic.cs#L57):

[code]

Discussed [here](https://github.com/nsubstitute/NSubstitute/pull/141).

Options:
- [try and detect dynamic call and return `DynamicStub`](https://github.com/nsubstitute/NSubstitute/pull/141#issuecomment-349

[2014-03-04 03:32] #75 closed, assigned to nobody

[2014-03-04 11:02] wilhen01 opened #144 "Extension methods don't work for dynamic returns"
Just upgraded to 1.7.2 for the fix to https://github.com/nsubstitute/NSubstitute/issues/75 and while the code now works, I have to invoke the extension method in an unusual fashion for it to function correctly. So, to illustrate...

I have an interface with a generic return type which I wish to mock:

[code]

In my test code, I set up a mock as follows:

[code]

Then when setting the return object

[2014-03-05 21:15] dtchepak opened #146 "Don't execute Returns actions while configuring a call"
See [this groups post](https://groups.google.com/forum/#!topic/nsubstitute/ZJ-9ke3Uics).

If we have `sub.MyCall(Arg.Is(blah)).Returns(1)`, just return auto-sub but do not return pre-configured returns?

Need to watch for cases where we want further configuration on returned instance, but I think it will be ok for cases where we provide an arg matcher. (?)

[2014-04-07 20:42] dsolovay opened #148 "IEnumerable should return an empty array"
Suppose I have an interface

[code]

It would be a nice extension of the current behavior to automatically provide an empty array.  This currently works if the property is an array.

[2014-04-09 10:11] dburik opened #149 "Using Arg.Any<>() in .Returns() causes unexpected behavior"
NSubstitute does not complain about the following code:

[code]

After fixing

[code]

to

[code]

the exception is gone.

If using `Arg.Any<>()` in `.Returns()` statement causes problems it would be good to have a compile time error or at least a self-descriptive exception instead of just missing call.

[2014-04-15 23:15] #41 closed, assigned to nobody

[2014-04-24 01:48] dtchepak opened #150 "Allow direct use of SubstituteFactory"
Can't adjust how substitutes are created, for example, [returning custom default values](https://groups.google.com/forum/#!topic/nsubstitute/UavdM5zU7O4).

Look at refactoring SubstituteFactory and related classes to untangle the injected dependencies.

[2014-05-14 14:21] alexandrnikitin opened #152 "ReturnsForAnyArgs and WhenForAnyArgs and generic arguments"
This is more a question rather than a bug report. Inspired by a question on [SO](http://stackoverflow.com/questions/23629719/can-nsubstitute-be-set-up-to-execute-any-passed-delegate)
Suppose we have an interface with a generic method:

[code]

Then when we specify the sub to return a value for any argument then it fails on the call with another generic type.

[code]

The same is right for `WhenFor

[2014-06-23 21:17] bradwilson opened #154 "Support returning empty collections for new collection interfaces in 4.5"
NSubstitute returns empty enumerables for `IEnumerable<T>`; it would be nice if it did this for the new interfaces in 4.5; namely: `IReadOnlyCollection`, `IReadOnlyDictionary`, and `IReadOnlyList`.

[2014-07-12 13:06] #148 closed, assigned to nobody

[2014-07-14 07:01] #149 closed, assigned to dtchepak

[2014-07-19 07:17] Tofudebeast opened #157 "Proxy to target, or easy reset"
I have a very large module that takes a number of "host" interfaces.  I want to mock those interfaces for tests of the module.  In addition, I want to reset the state of the mocks between tests _and_ allow the module to cache the interfaces.

I don't see an easy way to reset all the intercepts to an initial state.  I don't want to set every member of the interface on every test (want the default i

[2014-08-02 11:40] Muchiachio opened #159 "Returns() not working as expected with Substitute.ForPartsOf<T>()"
Let's say we have derived controller with GetRedirect() method:
[code]
and we try to set new return value with Returns<T>(this T value, T returnThis, params T[] returnThese) method like this:
[code]
we get "False" even though we overwrote GetRedirect() method.

Strange thing is, it's working then GetRedirect() method is changed like this:
[code]
Or Substitute.ForPartsOf<T> is changed to Substitute

[2014-08-18 13:27] jgauffin opened #160 "Retrieving arguments from a call"
Sometimes it's not possible to specify arguments directly in a call. Instead I have to be able to retrieve them for assertions.

I currently do that by using

[code]

However, that's a bit messy. It would be nice with a simpler syntax like:

[code]

[2014-09-29 04:05] AlexanderSher opened #161 "Please allow to add mixins to the substitute"
Right now, only CallRouter instance is added as a mixin to the substitute:

[code]

It will be great to be able to add more mixins that will be skipped by CastleForwardingInterceptor.

[2014-10-23 16:00] candychiu opened #165 "Optional arguments in constructor"
I can't seem to create sub's when the constructor contains optional arguments.

[Test]
public void Test()
{
     var a = Substitute.For<A>(1);
}

////// scenario 1: default constructor not explicitly defined
public class A {
   internal A(int arg1 = 0, string arg2 = "") {}
}
Result Message: System.NotSupportedException : Parent does not have a default constructor. The default constructor must be e

[2014-10-24 21:43] #165 closed, assigned to nobody

[2014-11-03 11:13] 4imble opened #166 "Non virtual methods on a class automatically pass in testing framework .Received().XXX is called."
Both the assertions below pass when .Execute is not virtual. This was confusing me for a while. I ended up swapping out NS for Moq and Moq reported an error informing me of the problem. It would be nice if NS did this too to save confusion.

   //Using MSpec

   public class When_told_to_execute_all_it_should_execute_all_commands
      : WithSubject<CommandHandler>
   {
       static AddTaskComman

[2014-11-05 13:07] #117 closed, assigned to nobody

[2014-11-16 12:31] nefarel opened #167 "Argument matchers cause side effects when used for nothing"
I guess it is a very minor issue that might happen by misuse of the library. Anyway it would be ideal to not cause side effects.

[code]

[2014-11-21 14:34] manzanotti opened #168 "Received test with argument matcher needs more failure information"
I don't know if I'm just missing how you do this, but I'm testing that my method is calling a substituted class with a parameter that has a property with a specific value, i.e. using an argument matcher:

[code]

When this test fails, the error message returned is along the lines of:

[code]

i.e. it doesn't actually give me any information about what the actual value of the property is versus the

[2014-12-14 23:56] krzysztof-jelski opened #169 "Allow passing multiple functions in WhenCalled.Do"
I would expect WhenCalled.Do() to allow receiving multiple callbacks, similarly to Returns().

Consider a void method, which you won't to configure in such a way that it throws exception only on first call. With the current API it's not possible.

[2014-12-15 00:07] #169 closed, assigned to nobody

[2014-12-25 14:24] golergka opened #170 "Can't create a substitute for a method returning multidimensional array"
Here's my code:

[code]

And here's what I get:

[code]

(I use NSubstitute that is provided as a part of [UnityTestTools package](https://bitbucket.org/Unity-Technologies/unitytesttools) in a form of a DLL.)

[2014-12-26 01:31] #170 closed, assigned to nobody

[2015-01-19 22:26] dtchepak opened #173 "Checking received calls on base of partial sub"
Based on [forum post](https://groups.google.com/d/msg/nsubstitute/qwje0knHPWQ/nEb9XM723ecJ):

If `base` method is called instead of `this` then `Received()` will not pick up the call.

[code]

[2015-01-20 12:41] alexandrnikitin commented on #173
The code with `base.DoSomethingElse();` compiles to `call instance void ...Foo::DoSomethingElse()` instead of `callvirt ...` in `this.DoSomethingElse();` case. Method descriptor for [`call` instruction](http://msdn.microsoft.com/en-us/library/system.reflection.emit.opcodes.call.aspx)  defined at compile time. Caste.Core doesn't support interception in this case. I'm not sure we can do anything her

[2015-01-20 22:01] dtchepak commented on #173
Thanks Alexandr. I wasn't thinking clearly, `Bar::DoSomethingElse()` isn't actually called so it seems correct to fail on `Received()`.

[2015-01-20 22:01] #173 closed

[2015-02-12 11:52] ChrisJansson commented on #160
As a first step I'd be happy with ```Arg.Matches(IArgumentMatcher<T>)``` or ```Arg.Is(IArgumentMatcher<T>)```. Especially since this is already supported but hidden from the public API as dtchepak mentioned.

I suppose it would be nice if the equivalency comparison was built in but I'd still want the ability to use custom matchers.

I've in the mean time added access to the ArgSpecQueue using refl

[2015-02-12 14:06] geirsagberg opened #174 "Substitute.For(typesToProxy, constructorArguments) throws ArrayTypeMismatchException on Mono"
Here is some code I use in a test project to register substitutes for interfaces (using Xamarin and MvvmCross):

[code]

The code runs successfully on Windows, but fails on OS X on the line `var substitute = Substitute.For(new Type[] { contract }, null);` with an `ArrayTypeMismatchException`: `Source array type cannot be assigned to destination type`.

Why does this fail on Mono when it works in W

[2015-02-14 02:31] dtchepak commented on #174
Hi @geirsagberg,
Can you please post a stacktrace? What `contract` is it failing on?

I got a greatly simplified version running on OS X without error (included below):

[code]

[2015-02-15 14:00] geirsagberg commented on #174
Here is the stack trace:

[code]

The contract that fails is this one:

    public interface IViewModel : IMvxViewModel
    {
        void SetAsCurrentViewModel();

        Task<TResult> ShowViewModelForResult<TViewModel, TResult>()
            where TViewModel : IResultViewModel<TResult>, IMvxViewModel;

        void ClearCurrentViewModel();
        void Destroy();
        void ShowViewModel<TVie

[2015-02-15 14:13] geirsagberg commented on #174
Here is a reproducible minimum example:

    class MainClass
    {
        public static void Main (string[] args)
        {
            RegisterInterfacesAsSingletons(Assembly.GetEntryAssembly());
            Console.WriteLine ("Hello World!");
        }

        private static void RegisterInterfacesAsSingletons(Assembly assembly)
        {
            var contracts = assembly.GetTypes().Where(t

[2015-02-15 23:26] dtchepak commented on #174
Thanks a lot for the great info. I will chase it up with the Castle DynamicProxy devs.

[2015-02-19 06:49] dtchepak commented on #174
Raised [issue on Castle.Core](https://github.com/castleproject/Core/issues/81). Might be something in Mono itself, but Castle team may be able to work around it.

[2015-02-26 12:29] jotabe-net opened #175 "Make easy and safe to get typed parameter from CallInfo"
When you need to get a parameter from `CallInfo`, which is not the first one, or the only one of a given type, you have to write code like this:
[code]

It's quite verbose, and there is no type checking. If there is an error (with the type or index) an `InvalidCastException`  will be thrown, and this gives very little information.

It would be interesting to create a new overload for `.Args()` met

[2015-02-26 14:14] jotabe-net commented on #175
I've thought that it makes not sense to overload the `Args` method, because this method returns a single value.
So it could be an overload of `Arg<T>()`, but this method implements a different functionality: it looks for a single argument that has the specified type, and, if so, returns its value. So  I think that overloading it can be confusing: you could think that you are asking the nth argumen

[2015-02-27 20:35] merdacz opened #177 "Substitute operation definition with overlapping cases"
Assuming ICalculator is the interface with Add(int, int) operation, when I define substitute like:

[code]

I would expect Assert.That(calc.Add(3, 1), Is.EqualTo(3)) to pass, but it won't as the second response definition with more specific and matches the previous ones resulting in 4 result instead. When I put those Add definitions the other way round it will work as expected.

I would either epx

[2015-02-27 22:41] veihan commented on #177
I don't see issue here.

        [TestMethod]
        public void Add_AnyArgs_Returns3()
        {
            // Arrange.
            var calc = Substitute.For<ICalculator>();
            calc.Add(Arg.Any<int>(), Arg.Any<int>()).Returns(3);
            calc.Add(2, 1).Returns(3);

            // Act.
            var result = calc.Add(666, 666);

            // Assert.
            Assert.AreEqual(3

[2015-02-28 11:52] dtchepak commented on #177
Hi @merdacz,
I can see the problem you are referring to, but I'm not sure on the best way to fix it.
Throwing an exception seems to run counter to the standard behaviour of overriding return values with more specific call specs later on (as in @veihan's example). The ideal seems to be prevent the side-effect from occurring, but I don't see how that is possible with NSubstitute's syntax?

One work-

[2015-02-28 16:44] veihan commented on #177
I still think that this is not an issue.
It's more like misplaced use.
Check this out.

[TestMethod]
public void Add_AnyArgs_Returns4()
{
    // Arrange.
    var calc = Substitute.For<ICalculator>();

    calc.Add(Arg.Any<int>(), Arg.Any<int>()).Returns(3, 4); // On next call with any args return 4.
    calc.Add(2, 1).Returns(3, 5); // This is first call for it:)

    // Act.
    var result = calc

[2015-02-28 21:17] dtchepak commented on #177
Hi @veihan,

You are correct that this is how it actually works, but I think it is easy to write this code without intending this behaviour.

        calc.Add(Arg.Any<int>(), Arg.Any<int>()).Returns(3, 4); // On next call with any args return 4.
        calc.Add(2, 1).Returns(3, 5); // This is first call for it:)

Because these both use `Returns`, they're are considered "call specifications" rathe

[2015-02-28 21:33] dtchepak commented on #175
Great idea. Merged in 50273b3089d3f7fdcd9bc28c2be9a04ecd3db4fd. Thanks!

[2015-02-28 21:33] #175 closed

[2015-03-02 08:16] veihan commented on #177
Hi @dtchepak,

Sorry, no clue about that warring :) Actually I don't known NSub sc too good, just seen it few times,
but I got new idea.
At the end of interception we're returning the value, base on method signature and spec that was made earlier. At this point we don't know whether this is a "real call" or just another "spec call", but value is "consumed" period.
We could backup that value/values

[2015-03-02 08:23] merdacz commented on #177
I agree that warning would be sufficient. In my case it was clearly overlapping definition and should be avoided. However with @dtchepak example it is even more concerning. I am not folloowing @veihan proposal in full, because I have never looked into the sources so thoroughly, but I guess we would like determine at some point that substitute definition is done. In Moq, which I use for so far proj

[2015-03-02 11:56] dtchepak commented on #177
@veihan, that's a neat idea! I think it could work (not 100% sure), but it may take a large amount of effort to implement. There is also the other case of side-effecting callbacks being used instead of multiple return values (e.g. `.Returns(x => SomeCalcThatDependsOnOtherState())`) that we probably won't be able to push the value back for (it may have mutated some other state and so that return va

[2015-03-02 11:59] dtchepak commented on #177
@merdacz, I understand your point, but I think that ship has well and truly sailed for NSubstitute. :) It has been designed especially to not require that additional step, sacrificing some control for its lightweight syntax. Moq and FakeItEasy are already great options for having better control in these situations.

[2015-03-02 19:05] merdacz commented on #177
@dtchepak point taken. I am specifically looking into NSubstitute for its lightweight syntax :) I am glad there is still some option to bring up the warning with implicit approach taken.

[2015-03-06 01:00] veihan commented on #177
I explored that idea and found out, that this issue indeed can be fix.
It solves `Arg.Any<int>()` complete methods, but not the partial ones aka `Add(Arg.Any<int>(), 7)`.
I'm not happy with this... any one any idea how to extend this, to provide full solution?

[2015-03-06 02:26] dtchepak commented on #177
@veihan, thanks for the spike. I think the undoable part of it is the most likely to be implementable. I'm not sure the overlapping specification issue is something that we should fix (as it is often something we want to be able to do).

[2015-03-06 08:08] veihan commented on #177
Overlapping methods with identical args works good, by returning values from last overlap. And it was working before issue 177.
Ex:
`Add(2, 2).Return(1, 2, 3)`
`Add(2, 2).Return(4, 5, 6) // First call returns 4`
same this
`Add(Arg.Any<int>(), 7).Return(1, 2, 3)`
`Add(Arg.Any<int>(), 7).Return(4, 5, 6) // First call returns 4`
This is good overlap for me:)
But stuff get harder to fix when you overl

[2015-03-07 14:12] veihan commented on #167
Issue might be caused by current <a href="https://github.com/nsubstitute/NSubstitute/blob/3c0df8de3a74053924dafc42505fc62a49b38a41/Source/NSubstitute/Core/CallRouter.cs">CallRouter</a> impl. and its method `public object Route(ICall call)`.
The part that interest use is a condition `if(IsSpecifyingACall(call))`.
Base on test example provided by @nefarel condition is true and route `UseRecordCallSp

[2015-03-08 14:33] trullock commented on #157
+1 for being able to clear configured return values, ill make a PR if I can make what i want work

[2015-03-08 15:06] trullock opened #180 "Remove build dependency on Rake"
Making the very simple build process of NSubstitute depend on Rake is ridiculous. Its a gigantic barrier to collaboration.

Heres the current process to build NSusbstitute for someone unfamilar with Ruby, trying to develop on Windows:

Install Ruby
Immediately find an undocumented error to do with missing root CAs and therefore be unable to use `gem` at all
Fix this by reading 100s of forum posts

[2015-03-08 22:38] dtchepak commented on #180
You can use `build-fake.bat` (or `build-fake.sh` from Git Bash on Windows) to build using [FAKE](http://fsharp.github.io/FAKE/).

Ruby is still required to build the docs as they use jekyll, but everything else should build ok.

[2015-03-10 06:47] dtchepak commented on #157
Thanks for the PR @trullock! Is it just return values you want to clear? Or everything - a complete reset including received calls, return values, when..do callbacks etc?

[2015-03-10 16:56] trullock commented on #157
I only wanted to reset return values with this, although there should certainly be a complete reset method.

You should still be able to clear individual things separately (i.e. _not_ just have a global reset() and nothing more fine grained)

[2015-04-02 21:01] azurelogic opened #182 "NSubstitute throws when substituted type contains virtual event or is interface with event"
I was adding tests for our user login system today using nUnit, when I found a strange issue. Some of my tests were randomly throwing exceptions. The particular tests were setting .Returns(collection) on a substitute created off of an interface. Here's the error:

[code]

After trying a bunch of things, I changed the substitute to the concrete type that I use in the application, and the problems w

[2015-04-03 12:36] dtchepak commented on #182
The error suggests that in some cases `GlobalSecurityStateViewModel.RefreshingRolesAndUsers -= something` is being called before `.Returns(collection)` has a chance to run.

Is there another action configured in a substitute that tries to remove the event subscription when a call is received? Is the `collection` in `.Returns(collection)` a variable, or a call to another substituted property? (e.g.

[2015-04-03 14:11] azurelogic commented on #182
Here's what one of the tests looks like:

[code]

Here's the relevant portion of the setup method:

[code]

`_gssvmMock` is the instance for a singleton. What is odd is that `GlobalSecurityStateViewModel.Instance.RefreshingRolesAndUsers -= eventHandler` is only called in the finalizer of `UserAdminViewModelBase`. `_gssvmMock` is still in scope when the error occurs. So I have no idea how I'm getti

[2015-04-04 10:28] dtchepak commented on #182
An object can be collected even if it is [referenced by a variable that is still in scope](http://www.davesquared.net/2014/03/dotnet-gc-keepalive.html). You can try `GC.KeepAlive`, but it may be better to tweak the design a little. Maybe add a constructor to your object under test that takes the singleton `GlobalSecurityStateViewModel` (the previous, default constructor can delegate to the new one

[2015-04-06 18:30] azurelogic commented on #182
Hmmm, it still seems weird to me. I should have been more clear on one thing: `_gssvmMock` is a private field on the test class itself. Even with the oddities with the GC, I wouldn't expect the field's finalizer to be called unless the whole class was being GC'd, and that would be particularly odd considering that the currently running code is inside that very same class.

Anyway, I don't need tho

[2015-04-06 18:30] #182 closed

[2015-04-07 07:54] CompleteBrains opened #183 "Argument matcher as variable causes false positive test"
This test always passes:

[code]
If I inline `any` the test will be failed.

With reference types the issue persists.

As I've noticed after the first `.Received()` the `any` becomes a default value so `.DidNotReceive()` expects `Test(0)` thus the test passes.

[2015-04-07 12:36] CompleteBrains commented on #183
Ok, with property:
[code]
it works and it's still readable.
But I need a new one for each type.

[2015-04-07 12:49] dtchepak commented on #183
Hi,

Arg matchers only work inline - they can't be assigned to variables (if you examine `any`, it will just hold `null`).

Normally this is done by keeping the arg matchers inline (as you pointed out):

[code]

There is also `ReceivedWithAnyArgs()` and `DidNotReceiveWithAnyArgs()` if you want to ignore all the arguments:

[code]

Or, if possible, match the arguments actually being passed so we ca

[2015-04-07 13:18] CompleteBrains commented on #183
Thanks, I didn't know it, but I've searched in docs, honestly.

[2015-04-08 06:11] jholland918 commented on #160
I'm testing some stuff that uses RestSharp and I have to do some extra digging to verify the request was setup correctly. At this time I'm doing something like this:

[code]

I'm new to using NSubstitute so I'm not sure how well custom argument matcher would work in my case, if at all. It would be nice to have something a little more succinct to get at the arguments received for a substituted meth

[2015-04-09 14:32] CompleteBrains commented on #183
Sorry, my question was stupid. I've thought that `Arg.Any()` returned some tricky placeholder type so it is the same for all `Any<int>` or other type parameter.
However despite its value is null the first `.Received().Test(any);` passes when I call `.Test(5);` so I thought there is some sophisticated type which is shown like `null` in a debugger while its actual value is hidden.

But I've read how

[2015-04-09 14:32] #183 closed

[2015-04-09 21:42] dtchepak commented on #183
Not a stupid question at all. NSubstitute does a bunch of awful hacks, including the way arg matchers work. I don't think it is obvious at all (at least, not until someone digs in to it like you have, then the hacks sort of make sense).

[2015-04-09 22:02] dtchepak commented on #160
Hi @jholland918,
You could try something like:

[code]

Or capture the argument (either with a single variable, or with a list, depending on how many calls are being received) and assert on it later:

[code]

[2015-04-10 11:19] CompleteBrains commented on #183
Thanks for consolation.
Also thanks for NSubstitute. I recently started to learn a TDD and Art of Unit Tests and these are awesome, like a huge level-up in development. Right after first passed test I've started to feel something magic and pleasant. That's exactly it, I've always lacked about tests. It's so nice that I can develop a new class while all of its dependencies are not exist yet, so I d

[2015-04-11 01:09] dtchepak commented on #183
Glad you're enjoying it! Careful with [test infection](http://www.davesquared.net/2010/02/improving-tdd-skills-via-treatment-of.html) though. ;)

[2015-04-11 05:25] CompleteBrains commented on #183
I am warned now. Thakns.

[2015-04-16 14:00] jholland918 commented on #160
This works for me, thanks!

[2015-05-29 12:20] dtchepak commented on #87
Closed by #181.

[2015-05-29 12:20] #87 closed

[2015-06-11 08:57] bitbonk opened #184 "Introdce a ReturnsMany() extension method to be able to substitute an IEnumerable of an interface"
In my application under test I have the following interfaces

[code]

And in a test the follwing substitution code:

[code]

To be able to have a **readable** arrange part in my test, I had to create the stub `RibbonCommand` class. This should be Nsubstitutes job!  But because AFAIK there is actually no **typesafe** way to do this with NSubstiute that as anywhere as readable as the above solution,

[2015-06-11 09:11] dtchepak commented on #184
Thanks for the suggestion!

My first thought is that it would be nice to factor out the duplication into a method to create each substitute, in which case this starts to [look like this](http://stackoverflow.com/a/30771084/906).

You suggestion of using lambdas per item also reminded me of another way to do this while avoiding the [problem of requiring an extra variable mentioned in forsvarir's an

[2015-06-11 10:05] bitbonk commented on #184
The downside of this approach is that I do not have intellisense in the `Create` method.

[2015-06-11 11:51] dtchepak commented on #184
You should still get intellisense inside `Create` (and when calling `Create`). All the types are known at compile time.

I agree it would be nice to not have to declare anything outside the test, but in this case i think the `ReturnsMany` sample ends up being more verbose than using `Create`, which outweighs the advantage of keeping it all in the same test.

[2015-06-16 06:23] smirnfil opened #185 "Extend CallInfo to have information about generics type on the call"
interface IRepositoty() {
    IQueryable<T> Table<T>() where T : IIdentifiable
    }

I want to have a control other return value for Table like this

      var substitute = Substitute.For<IRepository>();
      substitute.Table<IIdentifiable>().Returns(call => Enumerable.Empty<call.GenericType>().AsQueryable());

The main goal here is to use the exact type in the Returns statement to cover all dif

[2015-06-16 06:46] alexandrnikitin commented on #185
There was an issue #152 and some discussions around.

[2015-06-17 10:27] alexfoxgill commented on #185
Your suggested syntax can't work; `Enumerable.Empty<call.GenericType>()` is not valid C#. However, the idea is sound - you could for example use reflection to construct types using `Activator.CreateInstance`

[2015-06-17 10:29] alexfoxgill commented on #152
Came here via #185, this would be useful for a generic repository pattern. I think it would need its own syntax though; `.ReturnsForAnyArgs()` is strongly typed.

The syntax could look something like

    var x = Substitute.For<IInterfaceWithGenericMethod>();
    x.GenericMethod<object>().ReturnsForAnyGeneric(call => Activator.CreateInstance(call.GenericArgs[0]))

[2015-06-17 11:08] alexfoxgill opened #186 "Subsequent argument matchers return null when passed to CallInfo"
The following test throws a `NullReferenceException` because `callInfo.Arg<object>()` returns `null` which then has `.ToString()` called on it.

[code]

It seems like when setting up the return value for the second time, the `Arg.Any<object>()` returns null. I don't think there should be any need to invoke the initial delegate if it's another setup call. If the argument matcher has been called dir

[2015-06-17 23:40] dtchepak commented on #186
There is this: https://github.com/nsubstitute/NSubstitute/blob/f58de58791842b212f7510d5a7493d2f86fc09d3/Source/NSubstitute/Core/CallRouter.cs#L65

One thing we need to consider is the effect on nested substitutes, things like `foo.Bar().Zap().Returns(...)`. In that case we may need the actual return value from `foo.Bar()`.

[2015-06-18 00:04] dtchepak commented on #185
Hi @smirnfil,
In this particular case `call.GenericType` would always return `IIdentifiable`, so as Alexandr pointed out I think this would require #152 to work. Let's move discussion of this to #152. (I'll close this issue as a duplicate, but if your suggestion isn't covered by #152 please let me know and I'll reopen this)

[2015-06-18 00:04] #185 closed

[2015-06-18 00:21] dtchepak commented on #152
Closed #185 so we can continue discussion here.

How frequently do you need something like this? In my tests I haven't run in to a case where I've had to stub numerous generic instances of calls with the same logic.

I think we could come up with a way of stubbing/getting callbacks for multiple generic instances, but I'm not sure it is worth the complexity (compared to, say, hand-rolling a fake `I

[2015-06-18 01:09] smirnfil commented on #152
I think this is a nice functionality to have.

I want this behaviour for my repo stubs - if someone somewhere asks for some IQueryable<T> just give an empty one to him. I'll probably be happy with just #67(should look into it as it seems much easier to implement).

However, I understands the concerns about complexity. Faking doesn't looks as nice as mocking (one of repos that we use have 13 method

[2015-06-18 01:31] dtchepak commented on #152
Would be great to have #67 sorted! :)

[2015-06-18 15:12] stecydube opened #187 "Faking a call to an array for a particular index raises an exception"
Having the following unit test:
[code]
results in the following exception:

   at FakeItEasy.Expressions.CallExpressionParser.Parse(LambdaExpression callExpression)
   at FakeItEasy.Configuration.FakeConfigurationManager.AssertThatMemberCanBeIntercepted(LambdaExpression callSpecification)
   at FakeItEasy.Configuration.FakeConfigurationManager.CallTo(Expression`1 callSpecification)
   at FakeItEas

[2015-06-18 17:40] alexandrnikitin commented on #187
Did you mean [FakeItEasy](https://github.com/FakeItEasy/FakeItEasy)?

[2015-06-18 18:19] stecydube commented on #187
LOL...
wrong project ;)

But, by the way, is it possible with NSubstitute ?

[2015-06-18 18:50] alexandrnikitin commented on #187
Why don't you just return an array with single element?

[2015-06-18 18:58] stecydube commented on #187
Let's assume that I need the array to be 100 items long and I want to set the value of the 50th only. ;)

[2015-06-18 19:55] patrik-hagne commented on #187
Make an array 100 long, set the value on index 50 only, configure the fake
to return that array. I love it that the nsub community answers
FIE-questions!
Den 18 jun 2015 8:58 em skrev "Stécy Dubé" <notifications@github.com>:

[2015-06-18 20:41] #187 closed

[2015-06-23 12:23] alexfoxgill commented on #186
How does NSubstitute work with nested calls? For example is this valid:

[code]

[2015-06-24 05:44] dtchepak commented on #186
Yes that works. Here's an example that passes for me:

[code]

[2015-06-24 11:43] alexfoxgill commented on #186
It seems that the return value of `foo.Bar()` is not accessible to the callInfo delegate? Is this what you were referring to?

[2015-06-24 12:20] dtchepak commented on #186
I wasn't talking about callinfo. I was referring to: "I don't think there should be any need to invoke the initial delegate if it's another setup call".

If we have `foo.Bar().Returns(x => doStuff())`, then we do `foo.Bar().Zap().Returns(...)`, I think we will need to run the `x => doStuff()` delegate to ensure the latter call is setup properly.

[2015-06-24 15:33] alexfoxgill commented on #186
Right, I think I get it. So the following poses a problem:

[code]

The first delegate has to run, but the second setup call passes `null` into the `Bar()` method.

I think the resolution to my problem is to use the `Arg.Is` matcher, like so:

[code]

This way the delegate never gets called with a null argument.

[2015-06-24 15:33] #186 closed

[2015-06-24 23:34] dtchepak commented on #186
Right, or put the logic into the `Returns` callback itself:

[code]

(In this particular case could use `String.Format` to avoid the problem I think, but this illustrates the general idea. )

[2015-06-25 13:01] ahausmann opened #188 "ForPartsOf<T> doesn't run real code in constructor"
Hi,
I have a third-party class that calls a virtual method in its constructor.
When I tried to create a substitute for the class the virtual method returned the default value (or in the case below string.Empty).

Example Code:

[code]

The code above prints the following to the output window

[code]

but I expected to get

[code]

Edit: Grammar fixes

[2015-06-26 13:01] dtchepak commented on #188
Hi @ahausmann,
Thanks for the report and the great sample case. I think the problem is the proxy class is not fully constructed when the virtual method is called, so the `GetFoo()` call in the `TestClass` constructor returns `null` instead of the proxy being able to delegate it back to the base class. The guidelines from MSDN suggest [not calling virtual members in constructors](https://msdn.micro

[2015-06-26 15:46] ahausmann commented on #188
Well, when I tested it using [Moq](https://github.com/Moq/moq4) it worked. And afaik both NSubstitute and Moq use the Castle Proxy library, but correct me if I'm wrong.

Testcode for Moq:
[code]

And the output:

[code]

So it doesn't seem to be a problem with having the virtual method call in the constructor.

P.S. Yes I'm aware that it's bad to call virtual methods, but as I said it's a third-pa

[2015-06-26 21:35] dtchepak commented on #188
Yes both use Castle Dynamic Proxy.

Does `new Mock<TestClass>` call the TestClass constructor? Or does that
happen when `mock.Object` gets called?
On 27 Jun 2015 1:46 am, "Alexander Hausmann" <notifications@github.com>
wrote:

[2015-07-01 10:04] ahausmann commented on #188
Sorry for the late response.

The constructor is called when the mock.Object property is called the first time.

[2015-07-01 10:26] mariusGundersen opened #189 "Add ReturnsTaskResult for async methods"
Async methods returns a generic Task, so when using the `Returns()` extension method I first need to wrap the (mock) result in `Task.FromResult`, which gets tedious. So I propose we add the following extension methods, which wrap the provided results as Tasks:

[code]

It can now be used like so:

[code]

[2015-07-01 12:03] dtchepak commented on #188
I had a more detailed look at this. We deliberately [disabled interception of calls during construction](https://github.com/nsubstitute/NSubstitute/commit/388f0de1cf29489683b702efb77552d721f9160a) to fix issue #57.

It may be possible to pass through whether we are creating a partial sub proxy, and call base by default during constructor of the proxy for those cases, then swap back to the standard

[2015-07-01 12:24] dtchepak commented on #189
I think this is a good idea, but I wonder if it would be better to use a non-NSub extension method that is more widely applicable? Something like:

[code]

While `ReturnsAsyncResult(...)` would be added to all `Task<T>` values (even when that wouldn't make sense), the `ToTask(...)` method could be relevant anywhere, including during stubbing:

[code]

Not as neat as the proposed extension, but I a

[2015-07-02 08:05] mariusGundersen commented on #189
`ToTask()` doesn't feel like something that should be part of NSubstitute, as it is useful in many other situations too. It wasn't difficult to add the proposed methods to a static class in my test project, so I have the functionality I want in my tests, I just thought it would be useful for others too.

As for dumping extension methods everywhere; lots of built in methods (like `Task.FromResult`

[2015-07-12 12:15] dtchepak opened #190 "Return non-null when using Received() with async method"
See: http://stackoverflow.com/questions/31318594/nsubstitute-async-call-is-not-awaited

Might be easier to support using `await sub.Received().BlahAsync();` to avoid warnings?

[2015-07-12 12:36] dtchepak commented on #189
Yes, I agreed they'd probably be useful to others (I don't use `async` so I'm not in a good position to judge here :) ).

Maybe could add to [ReturnsExtensions](https://github.com/nsubstitute/NSubstitute/blob/master/Source/NSubstitute/Extensions/ReturnsExtensions.cs)? Might be fine in standard `SubstituteExtensions` too, as it only adds methods to `Task<T>`.

Would also require `...ForAnyArgs` var

[2015-07-20 11:16] #190 closed

[2015-07-27 14:20] rstam opened #192 "Support for .NET Core"
We use NSubstitute in a project that we are planning to port to .NET Core, but we are blocked by NSubstitute not supporting .NET Core.

Can support for .NET Core be added to NSubstitute?

[2015-07-27 14:35] alexandrnikitin commented on #192
I believe it can be and contribution is welcome :bowtie: A couple of links to start from https://github.com/Moq/moq4/issues/168 https://github.com/castleproject/Core/issues/90

[2015-08-01 11:17] alexandrnikitin commented on #192
There's a tool called __.NET Portability Analyzer__ from Microsoft that gives you a report on how portable is your code. The tool can be found [here](https://visualstudiogallery.msdn.microsoft.com/1177943e-cfb7-4822-a8a6-e56c7905292b), [a blog post](http://blogs.msdn.com/b/dotnet/archive/2014/08/06/leveraging-existing-code-across-net-platforms.aspx) and [a page in .NET Core documentation](http://d

[2015-08-02 12:55] Muchiachio commented on #159
Can I close this, or it's going to be changed?

[2015-08-02 23:21] dtchepak commented on #159
Thanks for the ping @Muchiachio. I'll close this - it is a relevant issue but I don't think we can reasonably make a breaking change here (unless we can demonstrate that the change will work better for the most common cases).

[2015-08-02 23:21] #159 closed

[2015-08-10 14:44] iamkoch commented on #189
Would something like this work in SubstituteExtensions?

        public static ConfiguredCall Returns<T>(this System.Threading.Tasks.Task<T> value, T returnThis)
        {
            return Returns(MatchArgs.AsSpecifiedInCall, Task.FromResult(returnThis));
        }

Effectively target the task based methods and allow an unwrapped value to be passed into the returnThis parameter.

Having troubles

[2015-08-10 15:47] iamkoch commented on #189
Just managed to get the tests running and it works.

Will look into productionising and creating a PR if you guys think it's a good approach?

[2015-08-10 15:49] iamkoch commented on #189
Here's a diff by way of a proof of concept.

https://github.com/nsubstitute/NSubstitute/compare/master...iamkoch:master

Thoughts?

[2015-08-11 00:02] dtchepak commented on #189
@iamkoch Happy to get a PR. It would be really helpful if the PR:

* covers all the overloads of Returns. (ReturnsForAnyArgs, with multiple results etc. ]Marius's comment](https://github.com/nsubstitute/NSubstitute/issues/189#issue-92341321) has some extra examples)
* builds with `build-fake.bat targets=ALL` to make sure it works for NET35, NET40, and NET45 (or `build-fake.sh` if running from Git

[2015-08-11 07:59] iamkoch commented on #189
I think ReturnsAsync isn't strictly correct as it doesn't return an awaitable task.

Having used NSubstitute, Moq and other frameworks a lot, I think the nice obfuscation of the .Net async/await pattern has led to me tut, and then wrap a returned object in Task.FromResult enough times for .Returns() to be an OK solution that will seamlessly fit into people's dev flow.

[2015-08-11 08:14] alexandrnikitin commented on #189
I agree with @iamkoch, `ReturnsAsync` lies as it doesn't return a task. `Returns` is ok for me. I would prefer to have it in `SubstituteExtensions` namespace because original `Returns` is extendable enough to deal with `Task`s without any additional extension methods.

[2015-08-11 08:17] iamkoch commented on #189
OK cool. I'll work on it and create a PR for review.

[2015-08-11 08:47] mariusGundersen commented on #189
I was under the assumption that the compiler would be confused if you called the Returns method with a Task result, as in:

[code]

But after testing with the extension method named `Returns` it turns out to work perfectly fine, so yeah, using `Returns` will be backwards compatible and will just magically work for users. It might be slightly confusing that it works, but since I already use NSubsti

[2015-08-11 20:55] iamkoch commented on #189
I thought that at first, but it honours the Returns(this T, T returnThis)  over Returns(this Task<T> ...) so it's not an issue.

[2015-08-11 22:12] dtchepak commented on #189
Thanks for the comments everyone. Great points. Let me know if you need any assistance with a PR.

[2015-08-15 17:00] danielbh opened #194 "ShouldCallBaseImplementationForVirtualMember() does not pass"
Hello, new to C# and NSubstitute. I am developing using both of them in Unity (Game Development platform). I was curious about using the real implementation for virtual members using NSubstitute and I did some digging and found a test you wrote.

[code]

When I try to run your test I get the following error...

System.NullReferenceException : Object reference not set to an instance of an object

a

[2015-08-16 10:14] alexandrnikitin commented on #194
Hi @danielbh,
Thanks for the issue. The partial substitutes feature is available and works as expected, at least for me :smile:
Could you please share more info: NSub version, more code to reproduce the issue. A concise github project would be great.

[2015-08-17 11:20] danielbh commented on #194
I'm not sure how to see the version number. It's included in the Unity Testing Tools package for Unity. As far as adding the code I just copied and pasted that test and all the tested code in the Unity Project I'm working on. here is a gist...

https://gist.github.com/danielbh/1ce1497a186a0b47aff9

If I created a Unity Project with the code would you know how to go in and look at it? This is the o

[2015-08-17 11:56] alexandrnikitin commented on #194
Thanks again, that was helpful. The problem here is that Unity uses custom build of NSubstitute, it's based on 1.7.2 version if I got it right.
Here's [the repo](https://bitbucket.org/Unity-Technologies/nsubstitute/) and the [commit with changes](https://bitbucket.org/Unity-Technologies/nsubstitute/commits/360e7eb8d942b7c0002f567baf46a970e5153da9)
It's better to raise an issue on their project [Un

[2015-08-17 11:57] #194 closed

[2015-08-17 12:20] danielbh commented on #194
Great advice. Thank you very much.

Envoy� de mon iPhone

Le 17 ao�t 2015 � 13:57, Alexandr Nikitin <notifications@github.com<mailto:notifications@github.com>> a �crit :

Closed #194<https://github.com/nsubstitute/NSubstitute/issues/194>.

�
Reply to this email directly or view it on GitHub<https://github.com/nsubstitute/NSubstitute/issues/194#event-384147844>.

[2015-08-18 12:25] iamkoch commented on #189
Just raised a PR. Let me know if anything needs changing or updating.

[2015-08-20 06:04] dtchepak opened #196 "ReturnsForAll<T>"
From [groups post](https://groups.google.com/d/msg/nsubstitute/ZUmEWwfp8F8/0VJyNezSEQAJ).

Idea is for `sub.ReturnsForAll<T>(T t)` to return the provided value for any member that returns a value of type `T`. Motivating example is for types that use method chaining, returning `this` for each call. In that case we could have `sub.ReturnsForAll<T>(sub)` (not sure if re-entrant mocks will hurt us the

[2015-08-21 09:50] alexandrnikitin commented on #192
@rstam there are two approaches that add .NET Core support #193 #197. Please take a look when you have time. Probably you can use the compile library in your project already. Your feedback is welcome.

[2015-08-29 08:36] testpossessed commented on #196
I hope to finish this over this weekend, Monday is a public holiday in the UK so have plenty of time.

I have created a ResultsForType similar to CallResults and I have created the ReturnResultForTypeHandler and added it to ReplayRoute.

So I just have to "push something into SubstituteState", but not certain of the "right" way to do this.

At the moment it seems that the only thing that has acces

[2015-08-29 09:45] dtchepak commented on #196
Hi Mike,
Thanks so much for taking a look at this - I really appreciate it.

I think CallRouter.SetResultForType is fine. It matches how standard
Returns() works too, so I think it's a safe bet.

Cheers,
David

On Sat, Aug 29, 2015 at 6:36 PM, Mike Hanson <notifications@github.com>
wrote:

[2015-08-29 12:08] testpossessed commented on #196
I have something working but before I push it and raise a PR I would like to check something with you.

All of the existing methods are defined the same pattern as this

[code]

i.e. The substitute is strongly typed when it is returned.

To maintain the proposed method as simply ReturnsForAll<T>  i.e. a single generic type parameter I would need to define it as

[code]
Are you ok with this?

To ma

[2015-08-29 13:48] dtchepak commented on #196
Good point. I think your first suggestion with a void return is my
preference:

public void ReturnsForAll<T> (this object substitute, T returnThis)

IIRC the only benefit we have of making it generic in some places is
constraining it to be a `class` type (e.g. an `int` can't be a substitute),
but in this case I don't think it is worth it (having to specify a matching
type using `sub.ReturnsForAll<

[2015-08-29 16:08] alexandrnikitin commented on #196
@testpossessed, Regarding the implementation you can take a look at my attempt to solve that in generic way #156 It introduces extensibility point to `SubstitutionContext` using `CustomCallHandlers`.

[2015-08-29 19:10] testpossessed commented on #196
@alexandrnikitin I saw #156 when I was first trying to figure out if NSub could do what I needed.  It goes a bit further than I need and on the basis of making the smallest change to deliver what I needed I have followed David's suggestion and kept to the existing patterns.  From an external point of view there will just be a couple of new extension methods, so it will only require a minor version

[2015-09-10 01:18] dtchepak opened #199 "ReturnsForAll<T> documentation"
Need to document feature added #196 / #198 .

Will require new post in [Sources/Docs/help/_posts/](https://github.com/nsubstitute/NSubstitute/tree/master/Source/Docs/help/_posts).
Also may need to add `using NSubstitute.Extensions;` in the [ExtractDocs.fsx script](https://github.com/nsubstitute/NSubstitute/blob/0e70eb36eff9b017a66e3d73b4390c0278042bf1/Build/ExtractDocs.fsx#L30).

[2015-09-10 01:18] #196 closed

[2015-09-23 13:50] mariusGundersen commented on #189
I'm going to close this method as it seems the pull request has been merged. Any timeframe on the 1.8.3 release @dtchepak?

[2015-09-23 13:50] #189 closed

[2015-09-23 22:30] dtchepak commented on #189
Hi @mariusGundersen, next release is just waiting on me finding time to update the docs (#199).

[2015-09-26 17:49] BrianVallelunga commented on #192
I'm starting to plan for a new project and am thinking of using .NET Core as well. I'd love to have NSubstitute support. Unfortunately, I'm not well versed enough to contribute to the port right now.

[2015-09-26 19:38] alexandrnikitin commented on #192
@BrianVallelunga that's great to hear. We already have a working build for .NET Core in #197. You could try it by yourself. Feedback is really welcome!

[2015-09-28 01:24] dtchepak commented on #199
http://nsubstitute.github.io/help/return-for-all/

[2015-09-28 01:24] #199 closed

[2015-10-06 21:20] grzesiek-galezowski opened #203 "Please Introduce equivalent of mockito's verifyNoMoreInteractions() and verifyZeroInteractions()"
Hi,

I have used this functionality in mockito in Java and I miss it in NSubstitute. As far as I know, NSub does not provide a way to achieve it. I especially miss [verifyNoMoreInteractions()](http://mockito.github.io/mockito/docs/current/org/mockito/Mockito.html#verifyNoMoreInteractions(java.lang.Object...))).

This may seem like getting back to the strict vs loose mock debate, but I don't feel t

[2015-10-06 21:43] dtchepak commented on #203
Hi Grzegorz,

There is an undocumented [`ReceivedCalls()`](https://github.com/nsubstitute/NSubstitute/blob/d68fc67a51bb2ff34b04719ae8766f2bc7d52074/Source/NSubstitute/SubstituteExtensions.cs#L289) extension method that may help here.

This will let you write: `Assert.That(sub.ReceivedCalls(), Is.Empty)` to check for zero calls.

You can also use `ReceivedCalls` to check you didn't get any unexpect

[2015-10-06 22:09] grzesiek-galezowski commented on #203
Hi, thanks for answering.

I know about the ReceivedCalls() and agree that it would let me implement `verifyZeroInteractions()` easily. The problem is with `verifyNoMoreInteractions()`, because while `ReceivedCalls()` remembers which calls were received, it does not remember which calls were matched. `verifyNoMoreInteractions()` says "verify there were no calls other than those already matched", s

[2015-10-06 22:31] dtchepak commented on #203
Yes we'd need to do a bit of work with `ReceivedCalls` to get the behaviour you're after.

Have you seen [`Received.InOrder`](https://github.com/nsubstitute/NSubstitute/blob/d68fc67a51bb2ff34b04719ae8766f2bc7d52074/Source/NSubstitute/Received.cs#L15)? It uses the beginnings of a call query model, and checks the query against a [`SequenceInOrderAssertion`](https://github.com/nsubstitute/NSubstitute

[2015-10-06 22:46] grzesiek-galezowski commented on #203
Thanks, I'll look into it and let you know what I find.

[2015-10-07 06:38] trivalik opened #204 "Random CouldNotSetReturnDueToTypeMismatchException"
We run automated test and get random this:

[code]

The interface is:

[code]

We are using the following tests, to be sure that there are no side effects:

[code]

Any suggestions?

[2015-10-07 09:11] grzesiek-galezowski commented on #203
Hi, I had a look at the Received.InOrder() and it looks like I can get what I want through the same mechanism. A query like `NonMatchingCalls()` would be nice, but it's not necessary - I can obtain this indirectly by accessing targets of all configured calls and aggregating `ReceivedCalls()` from each and then comparing with matching calls query that's already in place.

By the way, when I finish,

[2015-10-07 11:45] dtchepak commented on #203
Feel free to add `NonMatchingCalls()` to [`Query`](https://github.com/nsubstitute/NSubstitute/blob/d68fc67a51bb2ff34b04719ae8766f2bc7d52074/Source/NSubstitute/Core/Query.cs#L6) in a separate PR if that helps.

Thanks for offering to contribute this back to the project. Yes I'm interested in a PR for this, but I'm hesitant commit to it until I can see an example of how it is going to work because I

[2015-10-07 12:15] dtchepak commented on #204
Do the tests run consistently when run one at a time?

My guess is that the tests are being run in parallel, and the global state (`GlobalInterfaces.SetValueInterface(valueInterface)`) means that while one test is trying to stub `valueInterface.ValueName.Returns(FAKEVALUE)`, another is trying to `valueInterface.ValueChanged += Raise.Event()`. To NSubstitute it then looks like `FAKEVALUE` is trying

[2015-10-07 13:13] grzesiek-galezowski commented on #203
Sure, thanks! I'm writing the code anyway, so when I have something that works well enough, I'll let you know and prepare some examples of where I think it can be useful.

My current understanding is that for most of the usability traits, it would work similar to `Received.InOrder()`, but I'll wait with any bold statements until I have it finished ;-).

Even if you decide you don't want this code

[2015-10-08 05:53] trivalik commented on #204
What I know is that NUnit runs test in sequence, which mean there is no parallel test. Any documents about this?
My evidence: ```https://github.com/nunit/nunitv2/blob/1b549f4f8b067518c7b54a5b263679adb83ccda4/src/PNUnit/launcher/Runner.cs``` line 79 is a foreach loop over all tests. This means for me only one test is running at the same time.

The ```GlobalInterfaces.SetValueInterface(valueInterfac

[2015-10-08 06:09] dtchepak commented on #204
To rule out the test threading problem, can you print out the current thread id in each test, run it (on build server?) and see what the output is? If they are all running on the same thread then that eliminates that issue.

I'm trying to think of another reason for the test to be failing intermittently... maybe there is something happening in `SpecialControl.Dispose()` or finaliser? The `using` w

[2015-10-08 19:12] grzesiek-galezowski commented on #203
Hi, I have a rough version implemented at [my github mini-toolkit repo](https://github.com/grzesiek-galezowski/tdd-toolkit/blob/master/TddToolkit/NSubstitute/XReceived.cs):

It uses only NSubstitute's public types and methods, so you can just copy-paste the code from the linked file to any solution that has NSubstitute referenced.

[I copied the unit tests from `Received.InOrder()` with minor modi

[2015-10-10 01:39] dtchepak commented on #203
Thanks for this! Looks good from a quick skim - I'll take a more in-depth look as soon as I can.

I really like your point about avoiding `DidNotReceive` calls. I think I can come up with a good motivating example based on that.

[2015-10-10 08:11] grzesiek-galezowski commented on #203
Thanks, the code misses some cosmetics, e.g. it throws the same exception as `Received.InOrder()` although maybe another exception would be more appropriate and there is some code duplication. However, that's nothing that can't be improved.

Looking forward to reading your thoughts!

[2015-10-11 10:33] dtchepak commented on #189
@mariusGundersen ICYMI, this is in the NSubstitute 1.9.1 release.
@iamkoch: Some feedback on this feature:
https://twitter.com/roryprimrose/status/653070788367486976
https://twitter.com/roryprimrose/status/653081303638642689
:)

[2015-10-11 16:04] iamkoch commented on #189
Thanks for pointing out those! I'll retweet them and shower in the glory.

[2015-10-12 12:45] QBens opened #205 "Problem with parallel substituting for delegates"
Hello.
I have observed that NSubstitute has a problem with parallel mocking delegates.
Lets cosider following code:

[code]

Above test ends nondeterministically with succeess, hang or following NullReferenceException:

Result Message:	System.NullReferenceException : Object reference not set to an instance of an object.
Result StackTrace:
at System.Collections.Generic.Dictionary`2.Insert(TKey key,

[2015-10-12 19:27] alexandrnikitin commented on #205
Hi Piotr,

Good catch, thank you.

Here's the stack trace of the hung run:
[code]

Seems it hung somewhere inside CLR. It would be interesting to dig deeper. What do you think?

[2015-10-12 20:06] QBens commented on #205
I think that the essence of the problem is lack of synchronization. Standard generic Dictionary class does not guarantee thread safety. The run with NullReferenceException also shows that something's up.

[2015-10-12 20:10] alexandrnikitin commented on #205
No, it doesn't work with `ConcurrentDictionary` too.

[2015-10-12 20:15] alexandrnikitin commented on #205
Sorry, seems it works with `ConcurrentDictionary` but very slow and takes ~1 minute for that test.

[2015-10-12 20:29] alexandrnikitin commented on #205
That "slow" behavior was caused by `NUnit` `Repeat` attribute. I'm not sure why it slows down the test while increasing number of threads don't give such effect.

[2015-10-13 06:10] QBens commented on #205
Thanks for interest in problem.
I'm sure that a little slower behavior will be better than nondeterministically erroneous.
Currently the problem is blocking me from using NSubstitute + xUnit with default configuration (maxParallelThreads = number of CPUs). The unit tests using delegates substituting ocasionally throw an unexpected exceptions (NullReferenceException).

[2015-10-13 06:20] dtchepak commented on #205
@QBens, agree it is better to sort this. (also agree with Alexandr, thanks for picking this up!)

I will get to this as soon as I can, but if it is blocking you and you have some time would you like to try making the change?

I think we can sort it with a concurrent dictionary here:
https://github.com/nsubstitute/NSubstitute/blob/670546aa83e4e6771aa03a37f4fe80c231f51e27/Source/NSubstitute/Core/Cal

[2015-10-13 09:50] informatorius opened #206 "Initial mock creation takes long time"
I found the initial mock creation takes a long time.
I created a mocked interface with 100 methods and setup every method.
This takes 200 ms in 64bit release mode.
Further mock creation of the same interface is then very fast 1 ms.

Why does the initial mock take so long?
Can you optimize it?

This is the profiler callstack overview:
![initialmockperformance_profiler_overview](https://cloud.github

[2015-10-13 10:07] trivalik commented on #204
Since reporting the error has not occurred.

The output of jenkins console log about the managed thread ID. You can see also the order of execution.
[code]

The ctor method contains:
[code]

The Dispose method contains:
[code]

GlobalInterfaces static methods:
[code]
Removing the GlobalInterface, is for us not an option. Also to make a testcase only for you is really rare in success, because this

[2015-10-13 11:03] dtchepak commented on #206
How long does it take just to create the proxy using [DynamicProxy](https://github.com/castleproject/Core) (without NSubstitute)? I suspect that generating the proxy type might take a lot of the time (subsequent calls will re-use that type, which would explain why further mock creation is fast). Does proxying an interface with 50 methods take half as long?

(If you haven't used DynamicProxy before

[2015-10-13 11:04] alexandrnikitin commented on #203
Let me add my 2 cents. I use both frameworks: `NSubstitute` and `mockito`.
What I like in `NSubstitute` is that I don't need to look into documentation, I read it once and looked a couple of times after, that's it. NSubstitute API is simple and obvious. It doesn't have a lot of sugar and helpers which eventually leads to simple tests.
On the other side is `mockito`. I find it quite verbose and I o

[2015-10-13 11:06] dtchepak commented on #204
Does the `void Dispose()` method with no arguments call `GC.SuppressFinalize(this);`?

[2015-10-13 11:08] alexandrnikitin commented on #206
@dtchepak Agree, that's visible from the stack details. It spent ~50% in `Castle` namespace.

[2015-10-13 11:15] dtchepak commented on #203
Thanks @alexandrnikitin. I agree this is an easy way to write brittle tests, but it could still be useful to restrict calls to a subset of an interface. Ideally we'd split the interface into two or more and that would automatically ensure we don't call other methods, but in cases where we're dealing with an existing codebase that isn't easily refactored maybe it is worth having this as a fallback?

[2015-10-13 11:20] QBens commented on #205
Thanks. If I find some time in the nearest future I will back to the problem. But for now I will execute unit tests in a single thread (xUnit setting: maxParallelThreads = 1).

[2015-10-13 14:27] grzesiek-galezowski commented on #203
@alexandrnikitin thank you for your comments.

To comment more broadly on your example - when the situation you describe happens, the case stops being one of exclusive selection. Then it would mean that my intention about the functionality I'm testing changes and I need to state my different intention using different mechanisms. The same can happen to `Received.InOrder()` or argument matchers and

[2015-10-14 07:18] trivalik commented on #204
Because ```SpecialControl``` is derived from ```Control```, yes. Because Control is derived from Component which implement ```Dispose()``` with ```GC.SuppressFinalize(this);```. Checked in ILSpy and
http://referencesource.microsoft.com/System/R/ec402748f4bd1220.html.

[2015-10-14 07:21] dtchepak commented on #204
The stack trace says:
[code]

Can you paste in line 51 where it is failing please?

[2015-10-14 12:28] informatorius commented on #206
@dtchepak : I tried Nsubstitute for Interface with 50 methods instead of 100 and all setuped.
The time went down from 200 ms to 170 ms.

[2015-10-14 12:33] trivalik commented on #204
In ```Value_change_and_back_to_default(..)```:

[code]

[2015-10-14 23:20] dtchepak commented on #206
@informatorius: thanks. 30ms seems a lot of time for stubbing 50 methods. But the bulk of the time seems in the proxy generation which we can't do much about.

[2015-10-15 00:22] dtchepak commented on #204
What if we change the order so that `valueInterface` is fully configured before becoming globally accessible?

[code]

[2015-10-15 05:23] trivalik commented on #204
What comes to my mind is that the ```ValueInterface``` is already set by previous tests in ```GlobalInterface```. Maybe is this a cause.

Changing order would be possible, but makes no sense as long as it not occure anymore.

[2015-10-15 05:46] dtchepak commented on #204
Yes I think it is related to `ValueInterface` instances being influenced by other tests somehow.
From the information posted:
* While `valueInterface.ValueName.Returns(valueOfValueInterfaceForDefaultValue)` is running, something is calling `GlobalInterfaces.ValueInterface.ValueChanged -= ...`.
* All tests are running in the same thread, so there should not be a race condition on `GlobalInterfaces`

[2015-10-15 08:42] trivalik commented on #204
But in tear down of the ```TextFixture```, which contains only these tests, is reseting the ```ValueInterface``` in ```GlobalInterfaces```. So it cannot be other test than these.

[code]

Order change may in first place fix things, but in the ```using``` is also ```.Returns``` used.

[2015-10-15 21:56] slashP opened #208 "Substitutes set up to throw exception for methods with return type Task<T> cause compilation error"
Because of the changes introduced in #195 code using this style for throwing exceptions on async methods does not compile:
[code]
[code]
It would fail similarly for this (stupid) usage:
[code]
This should probably have been noted in BreakingChanges.txt?

PS: I love this new feature!

[2015-10-16 01:03] dtchepak commented on #204
Oh I didn't notice returns was used inside the `using` as well.
I am not sure what is happening here. If the code is public I can take a look and see if I can figure it out?

Otherwise, I am fairly confident the problem is `GlobalInterfaces.ValueInterface.ValueChanged -= ...` being executed while the `valueInterface.ValueName.Returns(valueOfValueInterfaceForDefaultValue)` is running. Are there any

[2015-10-16 09:02] trivalik commented on #204
There are other tests, which do exactly the same as above, only for another control. Anyway the ```Cleanup``` method should prevent further access to this interface. This means only the 4 tests above could see that this interface is used.

Anyway the problem is not reproduceable, maybe we should ignore it for now.

[2015-10-16 20:09] #208 closed

[2015-10-16 22:17] dtchepak commented on #204
If the other fixtures run on a different thread then that could explain it. Basically, anything else accessing that global at the same time I would expect to cause this problem.

If you're happy to we can close this for now unless the issue becomes reproducible again.

[2015-10-16 22:17] #204 closed

[2015-10-22 14:38] MansVestin opened #210 "Auto-mocking an IObservable pushes a value"
When an IObservable<T> is recursively auto-mocked, a default value will be pushed. This does not happen if you create the mock explicitly.
To me, it doesn't make sense that auto-mocking and explicit mocking gives different behaviour. Also, since my listeners executes code which isn't part of the test, I don't want them to be called - this forces me to mock more stuff.
FakeItEasy does not have this

[2015-10-23 00:09] dtchepak commented on #205
@QBens,
This fix should be in release 1.9.2. Please let us know how you go with it.
Thanks to @alexandrnikitin for fixing this so quickly. Sorry it took me so long to merge in and get the release done.

[2015-10-23 00:19] dtchepak commented on #210
Thanks for picking up this inconsistency. I agree it should be consistent, but it will be a breaking change so we'll need to have a think about it.

@alexandrnikitin: Do you think this is worth making the breaking change to make auto-subbed observables do nothing?

[2015-10-23 07:21] MansVestin commented on #210
I'm in the process of trying to convince my team to switch from FakeItEasy to NSubstitute. Up until now, all tests where really easy to convert - just replace A.CallTo... with Returns etc. But with this behaviour, some tests crashes or fails with NSubstitute after conversion. It can be hard to track down exactly which IObservables you have to explicit-mock to make it work. I think it would be bene

[2015-10-23 11:44] QBens commented on #205
After upgrade NSubstitute to version 1.9.2 the problem with parallel execution of unit tests disappeared.
Thanks for quick fixing.

[2015-10-24 00:33] dtchepak commented on #205
Great to hear it is sorted for you!

[2015-10-24 00:33] #205 closed

[2015-10-24 10:14] alexandrnikitin commented on #210
@MansVestin Sorry, I cannot get your point. In the test, you explicitly subscribe some logic to `IObservable` but do not expect it to be called?! Don't subscribe then :smile: Still, it's an `IObservable` inside a sub, what do you expect from it to do? You can always inject your logic with your `IObservable` if you want to control the execution. I don't want to say that I accept [the current logic]

[2015-10-24 11:22] dtchepak commented on #210
@alexandrnikitin, I think the problem is when the subject under test subscribes and there are unexpected calls happening. One argument is that if we don't stub a call then we make no guarantees about its behaviour, but I think a consistent and reasonable default is to not do stuff unless asked.

[2015-10-24 11:51] alexandrnikitin commented on #210
@dtchepak Yes, I could assume (test just didn't show me that). But still, it's a "substitute" inside another substitute. If you substitute `IObservable` directly and inject it to sut then that won't happen. But anyway...

Agree, we shouldn't perform any calls unless explicitly asked. I'm good with breaking changes in that case.

[2015-10-25 12:37] grzesiek-galezowski opened #211 "CallSequenceNotFoundException should list details of params arguments"
Hi, this is very similar to #65, however, #65 was about `ReceivedCallsException` and this one is about `CallSequenceNotFoundException`, thrown by `Received.InOrder()`.

Code to reproduce the issue:

    public class NSubInOrder
    {
      [Test]
      public void ReceivedInOrderDoesNotFormatNicely()
      {
        //GIVEN
        var mock = Substitute.For<Collaborator>();

        //WHEN

[2015-10-25 22:22] dtchepak commented on #211
Nice catch.

I'm still trying to find time to look at the strict call checks you've implemented (there is one more change for me to review before looking at yours).

[2015-10-26 07:10] grzesiek-galezowski commented on #211
No problem, please take your time. This one is a little more urgent and I think less debatable, as it would add value to existing functionality and this value is clear (currently, in `params` case, I need to add additional `.Received().DoSomething()` checks before `Received.InOrder()` just to get good diagnostics).

Thanks!

[2015-10-26 09:53] MansVestin commented on #210
@alexandrnikitin As @dtchepak says, the class I'm testing is setting up a subcription in it's constructor, but that's not that part of the class I want to test - and the event handler crashes when it's being called with a default object.
I tried to make the example as short as possible. but I see now that it was a bit confusing to put the Subscribe call in the test function. Here is a better examp

[2015-10-26 14:20] MansVestin commented on #210
I would suggest that this line is removed as well:
https://github.com/nsubstitute/NSubstitute/blob/v1.9.2/Source/NSubstitute/Core/ReturnObservable.cs#L23
OnCompleted is not called when substituting the observable explicitly.

[2015-10-29 15:39] trivalik commented on #204
I had this a few times now. Also on my developer PC. I guess the root cause is that the tear down method is called after all tests was executed, because of marked with ```TestFixtureTearDown``` attribute.

[2015-11-06 10:05] AAverin opened #212 "Reseting substitutes between tests"
Sorry if it's a stupid question.
I get this weird behaviour in my tests and I was wondering if NSubstitue resets it's substitution between different test runs?
Like, if I have 3 test in my TestFixture, and I have a single Substitute used in all of them, will number of invocation be reseted before every test?

[2015-11-06 11:16] appel1 commented on #212
No, it doesn't. You can [clear received calls](http://nsubstitute.github.io/help/clear-received-calls/) for a substitute but it would probably be better to not reuse substitute instances between tests.

[2015-11-06 11:31] AAverin commented on #212
The pattern I'm using - all Substitues are defined inside TestFixture marked class, so they are available for all test cases, and I prepare my subject under tests in TestFixtureSetUp

    ILLogger llogger;

    [TestFixtureSetUp]
    public void Before() {
        llogger = Substitute.For<ILLogger>();
    }

    [Test]
    public void SendNotifiesSubscribers() {
        //my test case 1
        ll

[2015-11-06 11:45] dtchepak commented on #212
Hi @AAverin,
Can you switch to `[SetUp]` instead of `[TestFixtureSetUp]`? The former is run before every test, the latter once for the entire fixture.

[2015-11-06 11:49] AAverin commented on #212
Aha, I see my mistake.
I'll try this out later today, thanks.

And will it work if I do following?

[code]

[2015-11-06 11:53] dtchepak commented on #212
I don't think NUnit creates a new instance of the class per test, so I don't think that will work (but I think it would work on XUnit).

[2015-11-06 11:54] AAverin commented on #212
I come from Java and it surely works with Mockito library and JUnit, except that Mokito uses annotations and can mock classes, not just interfaces

[code]

[2015-11-06 12:04] dtchepak commented on #212
C# class members are not virtual by default which is why we advise not mocking them. If you make everything virtual and don't have constructor logic then you are fine to mock the class. :smiley:

If you create a base test fixture you could have it work closer to Mockito/JUnit -- have a virtual `[SetUp]` method in the base class that scans for all members with a particular attribute and create subs

[2015-11-06 22:03] #212 closed

[2015-11-10 10:33] kordan11 opened #213 "Configuring return values for a substitute created with ForPartsOf registers a received call"
I was using NSubstitute to mock parts of one of my DbContexts (based on EF6 DbContext class) and I noticed that setting up a return value on one of the methods actually registers a call on that method. This is not the case when substituting an interface. Below is a couple of simple tests that demonstrate:

[code]

[2015-11-10 10:38] alexandrnikitin commented on #213
Partial substitutes call your real code by default. Take a look at the [partial substitutes documentation page](http://nsubstitute.github.io/help/partial-subs/). I hope that helps.

[2015-11-19 07:24] MansVestin commented on #210
@alexandrnikitin @dtchepak Any update on this? Will there be a fix in the near future? Should I create a Pull Request? Not sure about the proper procedures here...

[2015-11-19 23:10] dtchepak commented on #210
Sorry for the delay @MansVestin.

@paulcbetts, do you know if this proposed change would cause any major problems for the project(s?) you used this feature on?

[2015-11-19 23:31] paulcbetts commented on #210
Paul from January 2014 continues to be right - IObservable is a special class like Task<T>, because it is often awaited. Awaiting a call that returns Observable.Empty throws. It is very rarely correct to explicitly mock IObservable<T> (just as we would never mock IEnumerable<T>, we'd just substitute in a different value).

[2015-11-20 00:00] dtchepak commented on #210
Thanks @paulcbetts's from 2014 and 2015. :) Completely agree that `IObservable` should not be mocked.

Would changing [ReturnObservable.Subscribe](https://github.com/nsubstitute/NSubstitute/blob/v1.9.2/Source/NSubstitute/Core/ReturnObservable.cs#L20) break any of your tests, or is it more philosophical objection?

I can see how in [Måns' case](https://github.com/nsubstitute/NSubstitute/issues/210#

[2015-11-20 05:21] paulcbetts commented on #210
I am 100% sure that this would break user code

[2015-11-20 05:25] paulcbetts commented on #210
There is no reason to do the example code that @MansVestin is citing, this is always incorrect:

[code]

It should be

[code]

[2015-11-20 05:28] dtchepak commented on #210
Yes, I was thinking of the question in terms of replacing that sub observable line with `foo.WhenStuffHappened.Returns(Observable.Empty());` (or a do-nothing observer I guess? one that never pushes a value but also never completes).

[2015-11-22 22:52] dtchepak commented on #210
Hi @MansVestin,
While I think I'd prefer auto-subs to do nothing in this case, I can see the argument for both sides (no-op, vs having an auto-pushed/completed value). Given there are advantages to both approaches I don't think it is worth making a breaking change to this behaviour. ( @alexandrnikitin : feel free to overrule this if you feel strongly about it).

For a work around, [the code snippe

[2015-11-22 22:52] #210 closed

[2015-11-25 08:45] dtchepak opened #214 "Params arguments not formatting for values types like `params int[]`"
[code]

Found while testing for #211.

[2015-11-25 12:23] #214 closed

[2015-11-25 12:31] dtchepak commented on #211
@grzesiek-galezowski: Sorry for how long this has taken.
I think I have a fix for this now (8fa1588).
Could you please give it a try and close this issue if it has been fixed?
You can grab a build from the [CI server](http://bit.ly/nsubbuilds) (login as guest). Build 1.9.2.9 or later has the proposed fix.

[2015-11-25 20:44] grzesiek-galezowski commented on #211
It works, thank you!

[2015-11-25 20:44] #211 closed

[2015-11-27 02:07] apaul94 opened #215 "Bug Set_out_argument_via_returns when out arg not null"
[TestMethod]
        public void Set_out_argument_via_returns()
        {
            var sub = Substitute.For<ILookupStrings>();
            string output;
            sub.TryGet("key", out output).Returns(x => { x[1] = "howdy"; return true; });

            var result = sub.TryGet("key", out output);

            Assert.IsTrue(result);
            Assert.AreEqual("howdy", output);
        }

[2015-11-27 02:18] dtchepak commented on #215
Hi @apaul94,

Thank you for this report. This is a limitation of how NSubstitute matches arguments. The `Returns` is stubbed out for a particular value of `output`, so once that changes the stub will no longer apply. I'm not sure how to fix this behaviour to work differently (if the out variable was used for the match, then we could no longer stub calls where a class calls out to a substituted dep

[2015-11-27 02:41] apaul94 commented on #215
Thanks for your quick reply.
I've just check and the "out arg" values need to match "ref equals".
I thought to use ReturnsForAnyArgs but in my test case I have to distinguish to many possibilities of args combinaison, each with different set of return.
Write in only one proxy return is not possible without increase the complexity of unittest.

[2015-11-27 02:50] dtchepak commented on #215
So you need to stub out different actions for different keys? How many keys/different actions?
I think with the use of a helper method we could stub out as many combinations are you need, without any additional overhead from the code you originally wanted to write.

If you can post an example of the code you would like to be able to write if NSubstitute worked correctly here, I think I can reply w

[2015-11-27 03:22] apaul94 commented on #215
I will try to work arround with a Mock Class direclty on this part.
I will try to work around with a Mock Class directly on this part.
This is just an example (short part of test, I can't give the full test nor rewrite), if you have a solution on this short part, I bought ;)

        [TestMethod]
        public void TestMethod_DecodeDataFormat_10min_FullInfosFileName()
        {
            // ---

[2015-11-27 05:45] dtchepak commented on #215
Thanks for the example code. Here's my attempt at a helper for stubbing these out. It is a bit of work, but gives you some flexibility over how you set up results. (Untested, use at your own risk, etc. etc. :) )

[code]

Then you can use it like this:

[code]

If you are just using this for stubbing it is probably easier to manually create a fake implementation for returning these values rather th

[2015-11-27 07:55] apaul94 commented on #215
Many thanks. This is a great solution !
I'll try asap and rewrite my others unit tests
awesome ^^

[2015-11-27 10:41] dtchepak commented on #215
Glad it helped. :)
Sorry we can't support the scenario without the extra work.

[2015-11-27 10:41] #215 closed

[2015-11-28 10:29] CompleteBrains commented on #44
I need it to.

I want to mark my substitutes in the *Output* window because now I have this:

    Expected: not collection containing <Castle.Proxies.IFormProxy>
    But was:  < <Castle.Proxies.IFormProxy>, <Castle.Proxies.IFormProxy> >

I want this:

    Expected: not collection containing <Bad>
    But was:  < <Good>, <Bad> >

[2015-12-03 16:02] spamandtuna opened #216 "Received and Arg.Is<object>"
I have a function that updates an object then saves it to the database.  I can assert the object was updated, and I can assert the object was saved.  However, I want to enforce order of operation; that is, I want to ensure the object was updated *then* saved.

I thought `Arg.Is` would let me accomplish this.  What I've discovered, though, is that it compares against the reference object.  In other

[2015-12-03 16:51] appel1 commented on #216
You could use Arg.Do to capture the value of Updated on the Bar object when Save is called and assert on that afterwards.

I would've been very surprised if a snapshot/deep clone of the argument was captured, not even sure that is possible in a generic way. Not sure how useful documenting basics about how object reference work in .net would be. Makes more sense to document exceptions or you'd end

[2015-12-03 18:48] spamandtuna commented on #216
I like that a lot better.  Thanks!

For those interested, here's [a link to the documentation](http://nsubstitute.github.io/help/actions-with-arguments/) (see "Performing actions with arguments") and an example:
[code]

[2015-12-03 18:48] #216 closed

[2015-12-30 08:42] psmolinsky opened #217 "Unable to return value from another substitute"
When I configure a substitute to return a value which is obtained from another substitute, it does not work. For example:

[code]

Output is:

[code]

However slightly different setup works, but looks very weird:

[code]

[2015-12-30 09:02] alexandrnikitin commented on #217
Hi Peter. Thanks for the issue. We have a similar one with properties #56. That happens because `Returns` is an extension method and it applies its value to the last call. Something like this happens:
[code]

[2015-12-30 09:23] dtchepak commented on #217
Hi @psmolinsky,

You could also try this:

[code]

The lambda function defers the call so the problem @alexandrnikitin mentioned doesn't occur. (This can cause other problems later; another call to `foo2.Name.Returns(...)` will end up setting `foo1.Name` I think, but often you can get away with it without problems.)

Or if the value of `foo1.Name` is not going to change, a clearer alternative to y

[2015-12-30 09:27] psmolinsky commented on #217
Hi guys, thanks for suggestions and explanation. It's definitely good enough for me. Although I think it would be nice to fix it.

[2016-01-15 16:27] stalek71 opened #218 "IDisposable mocking"
When I mock IDisposable (with a few other interfaces also) c#'s "using()" statement complains it's not and instance of IDisposable.
How to mock it for such scenario :) ?

[2016-01-15 17:10] rafidka opened #219 "Does NSubstitute Support Strict Mode or going to?"
@dtchepak I saw your answer here:

https://groups.google.com/forum/#!topic/nsubstitute/AdGTfszewtA

But it is a bit old and I wasn't sure whether you were going to implement it or not. But then I found your comment on this issue:

https://github.com/nsubstitute/NSubstitute/issues/211#issuecomment-150980084

and it seems as if you want to support strict mode, no?

So just creating this issue to for

[2016-01-16 05:29] dtchepak commented on #219
We never ended up making a decision on this. I take it you would like to use this feature? @grzesiek-galezowski has the [feature working](https://github.com/nsubstitute/NSubstitute/issues/203#issuecomment-146659414) so maybe you can try that out? I'd love to get some feedback - if you both find that works for your cases then that would make a nice case for getting it into NSubstitute.

[2016-01-16 05:33] dtchepak commented on #218
You can do something like `Substitute.For<IFoo, IDisposable>()`, but you'd need to cast to `IDisposable` to put it in the `using`.

Can you provide an example? I might be able to give better advice (or at least, other options) for a specific case.

[2016-01-16 07:13] rafidka commented on #219
By never ended up making a decision I understand you had different opinions on it? If that is the case, why not make it configurable like FakeItEasy:

[FakeItEasy - Strict Fake](https://github.com/FakeItEasy/FakeItEasy/wiki/Strict-Fakes)

And yes, I would like to have such a feature. Actually, I really like NSubstitute and prefer it over the other mocking frameworks, however, it is necessary in my

[2016-01-16 07:41] rafidka commented on #219
What I hoped I could do is to have a generic substitution for all values followed by special ones. The generic one throws an exception, and the specific one returns the value I care about. I tried to do this:

[code]

This way I can implement strict mode by having a generic substitution for any value which is not overridden.

[2016-01-16 18:24] grzesiek-galezowski commented on #219
Hi, it's an interesting discussion, so allow me to chime in about the verifyNoMoreInteractions() style. I don't want to gain anything by commenting, just share my opinion. While verifyNoMoreInteractions() is not perfect, it's still interesting why it may be more appealing that full "strict mocks".

About the redundant code - the way I see strict mocks, there are very few ways to use them without a

[2016-01-18 09:19] stalek71 commented on #218
Hi,
I found source of the problem. I was using DryIoc and on one the properties of some interface was not mocked as it should (with one interface only).

[2016-01-18 09:19] #218 closed

[2016-01-19 00:56] dtchepak commented on #219
Hi @rafidka,
Thanks for the feedback on the verifyNoMoreInteractions behaviour.

We can't really support a conventional strict mock due to our choice of syntax. For example:

[code]

I think we can hack around the current implementation to get the behaviour you want. From your `ToLower` example:

[code]

You might be able to wrap this up into a nice(r) helper if you use this pattern a lot:

[code]

[2016-01-21 13:16] grzesiek-galezowski commented on #219
@dtchepak unfortunately, the same rule for overwriting does not seem to work with `When().Do()` which seems to rule out using this approach to void methods.

For example, the following test fails:

[code]

[2016-01-24 22:06] dtchepak commented on #219
@grzesiek-galezowski Yes, `When..Do` calls don't override each other, they are cumulative. So you need to make sure the set of calls matched by each `When..Do` don't overlap at all.

[2016-01-29 13:23] trivalik commented on #204
I have now another approach. Maybe is in background a COM object created which create an exception randomly on the the GUI thread.

This comes direct after the CouldNotSetReturnDueToTypeMismatchException:
[code]

I am trying to work around this with this in ```TearDown()```
[code]
but in tests I am using no WPF.

[2016-01-29 16:14] snboisen opened #220 "Ability to set current SubstitutionContext in a thread-safe manner"
## Problem

I would like to extend NSubstitute by providing a custom implementation of ISubstitutionContext. But SubstitutionContext.Current property is currently a simple static field. This is a problem when running tests in parallel: if one test establishes a new substitution context when it starts, other concurrent tests that use the Substitute.For method could end up with some substitutes with

[2016-02-01 00:17] dtchepak commented on #220
Hi @snboisen,
Thanks for the great issue description.

Before changing the Substitute.Current property, I'd like to make it possible to opt-in to a local `SubstitutionContext`:

[code]

This would require #150 to be completed.

[2016-02-09 09:18] rafidka commented on #219
Thanks @dtchepak , @grzesiek-galezowski for your feedback, and sorry for the late comment. I understand then the answer to my question is that NSubstitute doesn't support strict mode and it will not support it, but we can work around it for non-void methods as explained in [this comment](https://github.com/nsubstitute/NSubstitute/issues/219#issuecomment-172695062). Thanks. Closing the issue.

[2016-02-09 09:18] #219 closed

[2016-02-24 11:48] kamilk opened #221 "Received() fails if values of output arguments are not right"
Using Received() on a method with an output argument fails if the value of the variable used in the expression is not equal to the value returned by the mocked method. Which doesn't make sense if I'm only checking if the method was called.

This test fails:

[code]

[code]

NSubstitute 1.9.2

[2016-02-24 22:54] dtchepak commented on #221
There's a bit more information about [this here](https://github.com/nsubstitute/NSubstitute/issues/215#issuecomment-160026913).

[2016-03-07 18:48] falcu opened #222 "Is it possible to fake a protected virtual method?"
I think this has already been asked but I m double checking because I don't find much info neither in the doc nor in google.
It is very useful to fake protected methods when using the [Extract and Override](http://taswar.zeytinsoft.com/2009/03/08/extract-and-override-refactoring-technique/) for unit testing legacy code. I could of course create a manual fake, inherit from the base class and overri

[2016-03-07 22:36] dtchepak commented on #222
The NSubstitute API relies on calling a method then configuring it with `Returns`, which means for standard use we can only configure calls that can be invoked via the public API (which excludes protected and private members).

That said, I think NSubstitute _might_ work ok if you find another way to invoke that method. For example, you could write a `Protected(this object target, string methodNam

[2016-03-07 23:05] dtchepak commented on #222
Testing `Received()` passes as well:

[code]

[2016-03-08 16:35] falcu commented on #222
Thanks!, I m checking it.

Check this behaviour:

[code]

The test fails. Is that expected? if I remove the virtual from the CheckValidUser method or create a substitute with ForPartsOf, the real implementation of CheckValidUser is called and the test passes. It's weird that in the original case, NSubstitute fakes the method with a default implementation that cannot be changed.

[2016-03-08 19:53] falcu commented on #222
I think your code is fine,  I just added a check for virtual:

[code]

[2016-03-08 20:37] falcu opened #223 "Unexpected behaviour with public non-virtual method that uses a protected virtual method"
Check this:

[code]

The result on the first test returns: "something1stuff!!!" .   It seems that the Returns() is overriding the DoMore(). Apart from this weird behaviour the test is not failing.  Remove the Assert.Fail and the test will pass. I would expect it to fail as there was an attempt to fake a non-virtual public method.

The second test fails as expected

[2016-03-08 20:43] falcu commented on #223
Forgot to mention the point of making it fail when there is an attempt to fake a non-virtual method: As methods are non-virtual by default it is common to forget to make the method virtual.

[2016-03-08 20:51] falcu commented on #223
This happens only when DoMore() is protected virtual. In other words, the first test raises an exception as expected when DoMore is either protected non-virtual or private

[2016-03-08 22:29] dtchepak commented on #222
Oh right, that is odd. In this case it allows us to hack in this ability to stub protected methods. I'm not sure if that behaviour should be changed. Working with classes has always been a bit dicey with NSub.

[2016-03-08 22:34] dtchepak commented on #223
See #105 for some discussion on this. (Not a good answer though unfortunately.)

[2016-03-09 13:01] falcu commented on #222
In Protected(), how can I find the protected virtual method that matches the args passed, when using the NSubstitute Arg class? I could easily get the types from the args and call GetMethod with the array of types rather than GetMethods. The issue arises when the Arg class is used. In this case, I get null in the args so I cannot find the types. The only solution I can think of is adding a Types[]

[2016-03-09 21:48] dtchepak commented on #222
You could try peeking at the [queued argument specs](https://github.com/nsubstitute/NSubstitute/blob/8fa1588a48da18741b1d2444c1b78f8c3a8dc11a/Source/NSubstitute/Core/SubstitutionContext.cs#L90) (you would need to implement `peekAll` rather than `dequeueAll`.)

NSub has some logic for matching argument specs up to arguments, but it is a very messy part of the code base so I'm not sure if it is poss

[2016-03-09 21:53] dtchepak commented on #222
As an aside, is it better off just making those methods `public` in this case? I know `protected` communicates a particular intention for those members, but it does seem to be imposing a bit of a burden on testing. Or maybe try wrapping those methods in a new class and injecting that to the Order class?

[2016-03-17 15:20] emragins commented on #67
Any hopes for this one?  I am hitting this frequently when subbing for repositories that return IQueryable<someclass>.  Or any pointers which file(s) would need to be updated in the source to accommodate this?

[2016-03-17 22:00] dtchepak commented on #67
@emragins, I think we'd need a [new auto-value provider](https://github.com/nsubstitute/NSubstitute/tree/master/Source/NSubstitute/Routing/AutoValues), then [add it to the list of providers](https://github.com/nsubstitute/NSubstitute/blob/8fa1588a48da18741b1d2444c1b78f8c3a8dc11a/Source/NSubstitute/Core/SubstituteState.cs#L43).

38676cfba9af1b8e9b69048d831fb3025da57b1c is the commit where auto-Task

[2016-03-22 12:05] dtchepak commented on #67
Released as part of 1.10.0.

[2016-03-22 12:05] #67 closed

[2016-03-23 15:35] sporieg commented on #144
At least as of 1.10.0.0 (possible earlier) the methods described in this thread to work around this do not work anymore.
Posting what I found here so others can avoid having to dance around the compiler.

I was mocking a signalr hub context like so.

[code]
In version 1.8.1.0 the call
[code]
would return the dynamic ExpandoObject, _all_.
After updating to version 1.10.0.0 it now returns the equiva

[2016-03-24 05:36] dtchepak commented on #144
Thanks @sporieg. The task-specific `Returns` was added in 1.9.0, so I'm guess 1.9.0 and above are affected.

I'm not sure why it is resolving [this `Returns`](https://github.com/nsubstitute/NSubstitute/blob/546be0b86ef1a1b369e9c8bf8cf1beb0497cca48/Source/NSubstitute/SubstituteExtensions.cs#L50) -- the type of `_clients.User("")` is `dynamic`?

[2016-03-24 14:45] sporieg commented on #144
Yes.

One option for signlar is to proxy client/server calls using Dynamics so IHubCallerConnectionContext<dynamic>'s User("string") method will return a dynamic.

[2016-03-30 21:27] chitoiur opened #225 ".Returns() with multiple return values does not work correctly the first time it's called"
[code]

The problem is that the first Assert incorrectly fails, because the first call to Read(0) returns 1, instead of 0. I can reproduce this consistently and this is the most concise reproducer I could come up with.

[2016-03-31 00:18] dtchepak commented on #225
Thanks for this.

The problem is that the second stub `foo.Read(Arg.Is<int>(x => x == 1))` will actually call `foo.Read(0)` and cause the first of `0, 1, 2` to be returned. (I think it would work correctly if the conditions where `==1` and `==2` as it would filter out the `0` case.)

**Fix notes**
There is an issue with fixing this: currently the [record call](https://github.com/nsubstitute/NSubst

[2016-03-31 13:20] chitoiur commented on #225
Thanks, confirming that the workaround is working.

[2016-04-19 09:29] niklasda opened #226 "Fails to use IEquatable instead of Equals"
I run in to an expected test failure when I was substituting my `Dictionary<>` based cache.
The key I use for the dictionary is a composite of 2 values, and we know that the key object has to implement `IEquatable<>` in order to find the value in the dictionary again. This works:
`ICompositeKeyCache cache = new CompositeKeyCache();`
`cache.Add(new CompositeKey(Constants.KeyPart1, Constants.KeyPart

[2016-04-19 23:54] dtchepak commented on #226
Thanks for the comprehensive repro case!

I haven't had a chance to dig into the NSubstitute side of this yet, but in the meantime I thought I'd offer a couple mitigations. First, I think the [duplicate code in the `object.Equals` override](https://github.com/niklasda/NSubstituteTestCaseProject/blob/49ec3bc6b85631da9fbbcde33ed553a2ad011a65/Code/CachingFail.cs#L18) can be simplified to:

[code]

Se

[2016-04-20 00:04] dtchepak commented on #226
**Implementation note:**

I think the [`EqualsArgumentMatcher`](https://github.com/nsubstitute/NSubstitute/blob/master/Source/NSubstitute/Core/Arguments/EqualsArgumentMatcher.cs) is the relevant class.

This has [given us problems before](https://github.com/nsubstitute/NSubstitute/issues/77) (with [related tests](https://github.com/nsubstitute/NSubstitute/blob/master/Source/NSubstitute.Acceptance.

[2016-04-22 15:02] MichaelLogutov opened #227 "Issue using NSubstitute with AutoFixture and parallel tests execution"
We've been facting strange issues when running tests that invokes multiple tasks (to simulate multithreaded environment). I found that the issue is related to AutoConfiguredNSubstituteCustomization but maybe it has something to do with staticness of the Args. Here is the test:

[code]

Only the first test UsingAutoConfiguredNSubstituteCustomization failing randomly like this:

[code]

[2016-04-25 22:11] dtchepak commented on #227
Hi Michael,
Sorry for the late reply.

I'm not sure what is happening here. In case there are calls being made while AutoFixture is configuring the service, can you try adding a "clear calls" to `TestAsync`?

[code]

[2016-04-26 10:21] MichaelLogutov commented on #227
Unfortunately that didn't help - still got the same kind of error.

[2016-04-27 00:14] dtchepak commented on #227
Have you checked the number of calls immediately after service creation?

Something like:

[code]

Other than that I'm not sure what is going on here. You could try getting some info from each call using `service.When(x => x.GetService()).Do(logging)` where `logging` is some custom code that outputs the thread id or some other info to help pin down where the extra calls are coming from? It might a

[2016-04-28 12:02] MichaelLogutov commented on #227
I've logged managed thread id and it does not have any correlation with tests outcome.

I've also recreated the same test but with Moq and it works perfectly:
[code]

[2016-04-29 00:34] dtchepak commented on #227
I tried adding some diagnostic code (not sure how reasonable this is):

[code]

And get the following output:

[code]

I'm not familiar with AutoFixture/AutoNSubstitute -- what do `AutoConfiguredNSubstituteCustomization` and `Freeze` do? The substitute seems configured to call `GetService` multiple times for each call originating from the `.Select` block, but I'm not aware of a way NSubstitute cou

[2016-04-29 05:26] MichaelLogutov commented on #227
It makes that all returned values from created object's properties and methods to be created using the fixture and thus can be substituted automatically. It the main feature we're using it.

[2016-04-29 06:45] dtchepak commented on #227
From what I can see this looks like an `AutoConfiguredNSubstituteCustomization` bug in AutoFixture.AutoNSubstitute. Is there anything I'm overlooking that points to it being in NSubstitute instead?

[2016-04-29 10:05] MichaelLogutov commented on #227
You're probably right but quite similar implementation of the customization for Moq working correctly.

[2016-04-29 12:29] dtchepak commented on #227
Yes I had a look at the Moq and NSub customisations but I don't know enough about AutoFixture to understand what could be causing the different behaviours.

[2016-04-29 17:35] falcu commented on #222
The extension method to fake protected virtual methods seems to be working fine. I did several tests.
However, it would be really cool if you can add this feature to the API. I know it makes the API a little bit dirty but it is really useful to fake protected methods when testing legacy code as I said in the first comment. I'm recommending this isolation framework for all of the apps my team devel

[2016-04-30 01:22] MNF opened #228 "NSubstitute .Received() does not failed when checking extension method call"
In one of the tests Received method was called(incorrectly) to check invoke of extension method
     itinerary.Received().GetBookingProvidersForProductType(Arg .Any<ProductTypes >());

where
   public static List<BookingProviders> GetBookingProvidersForProductType(this Itinerary argItinerary, ProductTypes argProductType)
        {
            //code
            return uniqueProvidersInThisItinerar

[2016-05-01 23:17] dtchepak commented on #222
@falcu: thanks for the feedback. I'll keep this feature in mind but I'm really reluctant to add it. NSub already has a number of "error-prone" features (e.g. inability to reliably detect non-virtual calls and raise an error) and I'm not keen on introducing another one. And it isn't a lot of code for people to include it directly if they really want it.

[2016-05-01 23:29] dtchepak commented on #228
Thanks for the report.

One huge drawback of NSubstitute's syntax is that it is not really possible to know when a non-virtual member (like an extension method) is called, so we can't raise an exception. There is some code to try and detect this after-the-fact, but it can miss cases and does not make it easy to locate the source of the problem.

I think this makes it important to make sure every N

[2016-05-02 20:19] falcu commented on #222
Hey I have some dependency among my tests when using the peekAll you suggested. It seems that the SubstitutionContext.Current is not clean when some tests start.
If I include the following TestCleanup, they all pass, but I want to avoid having the clean up method on every test class. I would like to handle the clean internally
[code]

Is there anything I can do in my Protected() extension method t

[2016-05-03 01:31] dtchepak commented on #222
So `DequeueAllArgumentSpecifications()` is still returning arg specs? This should not happen -- whenever NSub processes a call it dequeues all the arg specs. So this may indicate that you are calling a non-virtual protected method in one of your tests. I would recommend trying to locate that spot rather than trying to cover it up with a cleaning step.

At the end of your `Protected()` method you c

[2016-05-03 12:24] falcu commented on #222
You were absolutely right. I'm testing my extension method and I'm asserting that an exception is thrown when I attemp to fake a method that is non protected or non virtual. As I'm testing the method, I do need to `DequeueAllArgumentSpecifications()`at the end of tests that are asserting this exception.
Thanks!!

One more thing,  can you think of a better way to PeekAllArgumentSpecifications:

opt

[2016-05-03 12:36] falcu commented on #222
And yes I will do both when identifying an invalid method, `DequeueAllArgumentSpecifications()` and throw the exception. By doing so, I will avoid having a second test, which fakes correctly a protected virtual method, to fail.

[2016-05-04 00:23] dtchepak commented on #222
I think the best way to implement peek is to add it to `SubstituteContext`. :)
I'm a bit worried that both option 1 and 2 may cause problems with anything multi-threaded. (running tests in parallel, or testing multi-threaded code)

[2016-05-04 14:47] falcu commented on #222
haha but that's not an option right? Or you plan to add it :)?

[2016-05-04 23:46] dtchepak commented on #222
Sure it's an option! :)
Do you have time to add it and send a pull request through?

[2016-05-11 06:04] blocklore opened #229 "Out parameter requires resetting before subsequent calls will match 'Returns' argument matcher."
Using NSubstitute 1.9.2.

We have a simply interface that abstracts the registry defined as this:

[code]

And was attempting to write test for code that calls this method multiple times with different keys.

Test code:

[code]

Calling code:

[code]

The issue I am experiancing is that the third call will never trigger my substitute method for 'TryGetValue'. After scratching my head for an hour p

[2016-05-11 06:12] dtchepak commented on #229
Sorry this took up so much of your time.

This is sort of by design, but mainly because I'm not sure how (or if it is possible) to compare the address the `out` parameter points too compared with the value itself. This is explained a bit further in [this message group post](https://groups.google.com/forum/#!msg/nsubstitute/jYpdfF2mmh8/2V52kWz5I9gJ). The two work-arounds are resetting the parameter

[2016-05-11 06:17] blocklore commented on #229
Its seems counter intuitive that the 'out' parameter value is even compared/checked as the value won't be determined until the actual call is made (as appose to a 'ref' argument where its value might be relevant).

It seems strange that I should have to change by calling code in order it to work with the test code. Something I've never had todo before.

[2016-05-11 06:34] dtchepak commented on #229
Agreed it is far from ideal. You shouldn't need to change the calling code, the work-arounds both apply to the test code.

That's a good point about checking the `out` parameter. We should be able to differentiate out/refs via `ParameterInfo.IsOut` and `ParameterInfo.ParameterType.IsByRef` (`true,true` for `out`, `false,true` for `ref`). The `out` parameter could still have an initial value though

[2016-05-11 06:37] blocklore commented on #229
I believe that its a compile error to access the value of an 'out' parameter without assigning it a value first. Therefore any value assigned to the out parameter passed into the method should not be able to effect its outcome. Right?

[2016-05-11 06:39] blocklore commented on #229
I'm not sure how, given the context of my example, that I could reset the out parameter value within my test code as its the caller who is making multiple calls to the same method in serial.

[2016-05-11 06:46] dtchepak commented on #229
Right, but in terms of the calling code we can still pass a value in:

            var a = 1;
            var b = 2;
            var c = 3;
            sub.TestMethod (ref a, out b, c);

In terms of updating the test code, you could try something like this:

[code]

This has the disadvantage of moving the argument-based filtering, but it has the advantage of bypassing the "current value of `out` p

[2016-05-11 06:54] blocklore commented on #229
Hmmm, I'm still not clear on why the value of 'b' matters as its value will never to used (from a caller perspective).

Anyway, I've updated my code to use '.ReturnsForAnyArgs' and that resolves my issue.

Thanks!

[2016-05-18 18:28] Robelind commented on #192
.Net Core RC2 is out now and I cannot get NSub to play along with it.

[2016-05-19 11:43] mykolad opened #230 "Received() doesn't fail if argument used is returned by substitute itself"
Here's code example:

[code]

There were no calls to ```substitute.Method()```, but Received() doesn't fail.

If I change line ``` substitute.Received().Method(substitute.Value)``` to something different, for example ```substitute.Received().Method(Arg.Any<string>())```, then Received() fails correctly.

[2016-05-19 12:45] alexandrnikitin commented on #230
That behavior is cause by NSub syntax. That's inevitable part of it. How it works: When you invoke `DidNotReceive()` or `Received()` methods then NSub triggers a flag inside itself and waits for the next call on the Sub. It will tie the `Received()` call to the call invoked after it. So that's how it finds out against what method it needs to perform checks.

If we take a look at the IL code
[code]

[2016-05-19 12:46] #230 closed

[2016-05-20 20:59] #107 closed

[2016-05-20 20:59] #108 closed

[2016-05-20 21:16] #154 closed

[2016-06-08 11:12] mjmilan opened #232 "Framework 4.6.1 support"
Do you have any intentions to support Framework 4.6.1?

Any pointers that might be helpful if I try to put together a pull request to cover this?

Martin

[2016-06-08 13:06] mbordogna opened #233 "Disabling Auto Values"
It would be nice to have auto values disabled. I ran into a scenario for casting that was failing with the auto value, it took a bit for us to figure out this was due to a chain that was automatically created due to missing mocks because of the auto value and proxy in a service locator pattern due to differences in registration and the more generalized super interface.

If null was returned from t

[2016-06-08 22:52] dtchepak commented on #232
Hi @mjmilan,
NSubstitute already works with .NET 4.6.1.
Are you having problems with it?

[2016-06-08 22:57] dtchepak commented on #233
I really like this idea, including being able to customise the autovalues used (say, all `IEngine` values should automatically get `SimulatedEngine` instances). I've never needed it enough to invest the time into getting it working though.

Is this something you've got time to look in to? I think the per-substitute option would be easiest to implement (I'm not sure how to handle the global config

[2016-06-09 06:46] mjmilan commented on #232
I doesn't appear on NuGet for my 4.6.1 project - and I have confirmed that I am using the public nuget server - not a private one...

I tried downloading the binaries from the website, and it looked like the "latest" framework supported was 4.5...

[2016-06-09 06:53] dtchepak commented on #232
I tested and was able to create a new NET461 project and download/install/use NSub. I can't think of why it would not be appearing in your feed. 😕

The .NET45 DLL will run fine on NET461, so if you are stuck just reference that. You could also try using the package manager console to install and see if it gives you an error with more info.

[2016-06-09 23:37] dtchepak commented on #233
Related: #234

[2016-06-10 02:06] mbordogna commented on #233
I agree , method level is best bet.  You know the code base better than me.
How much time do you think would be involved?
On Jun 8, 2016 6:57 PM, "David Tchepak" <notifications@github.com> wrote:

[2016-06-10 03:37] dtchepak commented on #233
I'm not sure on how to do method level, but per-substitute should work. I'll see if I can get this to work with the implementation in #234 once I've merged it in.

[2016-06-15 19:08] trullock commented on #157
Just submitted a new PR for this off the latest master, #179

[2016-06-15 19:46] trullock opened #235 "can't clear Arg.Do<T>(() => {})"
If youve set up an Arg.Do, you dont seem to be able to remove this

[2016-06-15 19:47] trullock commented on #235
Sent a PR #179

[2016-06-15 23:59] dtchepak commented on #235
Related: #157
(for my own reference :) )

[2016-06-20 08:12] #157 closed

[2016-06-20 08:12] #235 closed

[2016-06-20 08:22] dtchepak commented on #157
This was auto-closed via commit message.

@Tofudebeast: I know you raised this ages ago, but if you get a chance would love if you could take a look and see if the #179 will help you out in this case. (It's not released yet)

Short version: `using NSubstitute.ClearExtensions;` to bring `sub.ClearSubstitute()` extension method in to scope, which will clear received calls, configured results, and ca

[2016-06-27 23:29] ghuntley opened #236 "Portable Class Library support"
I use NSubstitue exclusively on the backend, love and recommend the library but have a minor bug-bear. When doing front-end Xamarin development I have to fall back on using [alternatives that involve generation via T4 templates](https://github.com/kentcb/PCLMock) (which has it's own issues as Xamarin Studio does not support T4). It would be fantastic to be able to use NSubstitue within a portable

[2016-06-27 23:34] dtchepak commented on #232
I'll close this for now, but please reopen/add more info if you are still having trouble with this.

[2016-06-27 23:34] #232 closed

[2016-06-27 23:35] #229 closed

[2016-06-27 23:52] dtchepak commented on #236
@ghuntley: thanks for raising this issue.

@alexandrnikitin: I think this used to be [infeasible for Castle Core](https://github.com/castleproject/Core/issues/41), but do you know if dotnet core support  will [change this](https://github.com/castleproject/Core/issues/162)?

(related: #197)

[2016-06-30 20:41] alexandrnikitin commented on #236
There are [System.Reflection.Emit][emit] and [System.Reflection.Emit.ILGeneration][emit2] namespaces in .NET Core. Probably mobile is possible with .NET Core but this question is to Castle Core.

  [emit]: https://github.com/dotnet/corefx/tree/master/src/System.Reflection.Emit
  [emit2]: https://github.com/dotnet/corefx/tree/master/src/System.Reflection.Emit.ILGeneration

[2016-07-04 09:56] m3zercat opened #237 "Received InOrder breaks other tests when an error occurs"
Found that an exception occurring within Received.InOrder method can cause side effects to other substitutes in other tests within the same session.

Written some tests below to prove this bug.

If the tests below are executed in the order displayed only the first will pass but I would have expected them all to pass.

Tested with NSubstitute version=1.10.0.0 from NuGet.

[code]

[NSubstituteBug.zi

[2016-07-04 09:56] m3zercat commented on #237
Oh, attached above was the solution containing those tests.

[2016-07-04 10:13] m3zercat commented on #237
I am looking at the source code now to see if I can rewrite my tests in the same style as the existing tests & then fix.

[2016-07-04 10:49] m3zercat commented on #237
#238

[2016-07-08 08:51] savpek opened #239 "Add Arg.Verify or Arg.Assert (or something like that) validation for arguments"
Currently checking that passed arguments are valid most common way is to use Arg.Is which falls short when checking arguments contains any complexity. This problem is common in testing so assertion frameworks have figured out many good ways to check and report those errors, so this is wheel we don't want to reinvent.

For example if have object with properties A and B, Arg.Is reports that property

[2016-07-14 01:01] mjfaga opened #240 "Issue Generating Generic Substitute where the generic doesn't have a specific definition"
Hi there,

I have an interface similar to the example below. When I try to generate an `Substitute.For<IMyInterface>()`, I get a `System.ArrayTypeMismatchException : Attempted to access an element as a type incompatible with the array.`

Any idea why this would happen?

[code]

I should note there are other similar methods in this interface, but I've narrowed it down to the contract above. So for

[2016-07-14 01:25] dtchepak commented on #240
Hi, thanks for raising this!

Are you getting this exception on Mono? (I can reproduce this on Mono/Mac, but not .NET/Windows.)

[2016-07-14 01:26] mjfaga commented on #240
Yes, I'm in a Xamarin.Forms project which is dependent on Mono.

[2016-07-14 01:34] dtchepak commented on #240
I've raised an issue with the [Castle.Core project](https://github.com/castleproject/Core/issues/203) for this. IIRC there are some idiosyncrasies with Mono that can make proxy generation difficult, but hopefully they can sort it for us.

[2016-07-14 01:54] mjfaga commented on #240
Awesome, thanks!

[2016-07-15 03:23] #228 closed

[2016-07-15 03:28] dtchepak commented on #239
Hi @savpek,
Have you tried [this approach](https://github.com/nsubstitute/NSubstitute/issues/160#issuecomment-53013051)? I think it is quite promising but don't have enough experience with it to work out how/if it should go in.

[2016-07-20 22:30] dtchepak commented on #237
Closed with #238.

[2016-07-20 22:30] #237 closed

[2016-07-25 14:49] tetious opened #241 "Oddness with IList<T> mocks."
I'm running into some unexpected behavior when working with a mocked IList. It seems to behave in unexpected ways, counter to a typical list, which can hide bugs.

For example:
[code]

I'm not sure if I'm missing something obvious, or if this is intended for some reason. Maybe this is a side effect of the feature where mocked "lists" don't return null for elements that don't exist?

Considering th

[2016-07-25 15:18] tetious commented on #241
One more thing that is potentially even more baffling. Any sort of assignment like above overrides Returns() too. This was the reason I started looking into this, as I was trying to ignore the set of an item, and always return a mocked list so I can test it is called correctly.

Example:
[code]

This is a problem for IDictionary too.

[2016-07-25 23:39] rodrigoelp commented on #241
Hi @tetious, when you substitute an `IList<T>` I don't think you will get the default implementation of `List<T>` (which is what I understand from your comment). You are not "mocking" lists, you are providing a proxy to something that matches the `IList<T>` interface definition.

`Substitute.For<IList<T>>()` will give you a proxy that matches the interface definition of `IList<T>` just as you can

[2016-07-25 23:40] dtchepak commented on #241
Hi @tetious,

When we substitute for an interface we remove any inferred implementation or contract behind it. In this case, "counter to a typical list". :) So calling `list.Add(x)` will not call any real implementation, nor will calling `list[2]`. Both will just return default values and/or do nothing until you tell the substitute exactly what you want it to do. It is a "substitute" for real beha

[2016-07-25 23:40] #241 closed

[2016-07-26 02:18] tetious commented on #241
Hi @dtchepak and @rodrigoelp,

Thank you for your responses.

I didn't explain myself well, as I do I think I understand what you're saying. My expectation **is** that a "bare" mock of IList does **nothing**, but instead indexer assignment on a bare mock seems to have side effects on the proxy object.

Instead, when I run ```thing[2] = "Cat"``` on an unconfigured mock it seemingly assigns "Cat" to

[2016-07-26 02:26] dtchepak commented on #241
@tetious: thanks for clarifying.

NSubstitute has a feature called "property behaviour" -- if you assign a read/write property it will assume it should work like a standard property assignment.

So:

[code]

Similarly, read/write indexers act like properties, so:
[code]

Hope this helps clear things up a bit. :)

[2016-07-26 02:31] tetious commented on #241
Aha! That does indeed. Thanks!

[2016-08-07 02:16] dtchepak opened #243 "Wireup tests for net-standard1.5 build in build script"
Update build.fsx to run acceptance tests against .net core build (should also run checks against code in documentation? Can split this into a separate task if required.)

[2016-08-07 16:49] alexandrnikitin commented on #192
Closed via #197

[2016-08-07 16:49] #192 closed

[2016-08-16 13:24] Zvirja opened #244 "How to build NSubstitute.csproj for local testing purpose?"
Hi guys,

Could you please advice how to build your project now?
I'm trying to build `NSubstitute.csproj`, however I get the following error:

[code]

If I try to tune `project.json` I start to obtain other dependency errors.

The output produced by the `NSubstitute.xproj` is not suitable for me, because it depends on a lot of .NET Core assemblies. I want to replace NuGet version of NSubstitute wi

[2016-08-16 13:46] alexandrnikitin commented on #244
Hi Alex,

The following sequence works for me:
1. Open the solution `Source\NSubstitute.2010.sln` for .NET (`Source\NSubstitute.NETCore.sln` for .NET Core)
2. Choose the necessary configuration from `Configuration Manager` e.g. `NET45-Debug`
3. Go to `Build -> Build Solution`

Please be aware that we "moved" the .NET project file to `Source\NSubstitute.NET\` folder because of a bug in `dotnet CLI`

[2016-08-16 18:21] jirisykora83 opened #245 ".NET Core - HttpWebRequest"
In .NET Core not working this code. But same code working on full .NET.

`HttpWebRequest webRequestMock = Substitute.For<HttpWebRequest>();`

**Error message:**
Parent does not have a default constructor. The default constructor must be explicitly defined.

**StackTrace:**

[code]

[2016-08-17 17:44] alexandrnikitin commented on #245
I'm sorry I didn't dig deep but it turns out that the `HttpWebRequest` class was changed in .NET Core version. `var ctrs = typeof(HttpWebRequest).GetConstructors();` gives you an empty array while it returns a constructor in .NET version.

[2016-08-19 22:08] #244 closed

[2016-08-29 18:08] alexandrnikitin commented on #245
@jirisykora83 I wouldn't be surprised if they shipped that not implemented version. But hopefully they didn't. https://github.com/dotnet/corefx/blob/release/1.0.0/src/System.Reflection.TypeExtensions/src/System/Reflection/TypeExtensions.CoreCLR.cs

[2016-08-30 04:19] dtchepak opened #246 "Sync netcore and .NET projects"
While browsing octokit source found [`FixProjectFiles`](https://github.com/octokit/octokit.net/blob/4808941c5309ed736ede1cf52809605b6e6b4a22/build.fsx#L79) in [FAKE for syncing projects](https://github.com/fsharp/FAKE/issues/216).

Worth trying to incorporate this in to NSubstitute's build.

[2016-09-03 18:11] jirisykora83 commented on #245
I again try look on `typeof(HttpWebRequest)` and here what a i get.

![image](https://cloud.githubusercontent.com/assets/7279825/18226702/f07e3984-720f-11e6-8341-7b8b27f10d5a.png)

I think it's have constructors (non-public) but it's look currently GetConstructors(); not support non-public.

[2016-09-06 08:50] worzeel opened #247 "Abstract class substitution testing Received with Arg.Any on an interface with parameters"
I am not sure how to word this, but I did create a simple project that shows the issue at https://github.com/worzeel/NSubstituteIssue

Only one of the tests I created fails, which is what this issue is about...

Basically, I have an abstract class, that accepts an interface with a method that has a parameter.

When I use NSubstitute to create a mock of the abstract class (passing in the interface)

[2016-09-06 09:17] alexandrnikitin commented on #247
Antonio,

Thanks for the good repro! What I spotted is the wrong usage of argument matchers i.e. `Arg.Any<string>();` in the following test:
[code]

You can specify argument matchers when setting return values and when checking received calls. Everything works if you remove those matchers. Take a look at the ["Argument matchers"](http://nsubstitute.github.io/help/argument-matchers/) documentation

[2016-09-06 09:31] worzeel commented on #247
Ahhhh... yep... ok, i was actually using argument matchers wrong...

I have updated that code to show what i was actually doing in my real code... i had something like this:
`[Test]
public void TestMyTestMethodWithParam3()
{
    var sut = SUT();

==> sut.MyTestMethodWithParam(Arg.Any<string>());

    this.issueInterface.Received().SomeMethodWithParam(Arg.Any<string>());
}`

And was wondering why t

[2016-09-06 09:34] #247 closed

[2016-09-09 21:41] jcansdale opened #248 "Substitute.For delegate much slower than for interfaces and classes"
First, congratulations on a very slick project. :)

I've been doing some performance tests using BenchmarkDotNet and noticed that substituting delegates is much slower than for other types (something like 80 times slower). I wondered if you know why this might be and if it could be improved?

Here are the results and benchmarking code:

[code]

| Method | Median | StdDev | Scaled | Scaled-SD | Min

[2016-09-09 22:29] jcansdale commented on #248
I'm wondering if the commonly used `Action` and `Func` delegates could be special cased? I can imagine that substituting an unknown delegate might be tricky.

[2016-09-12 00:30] dtchepak commented on #248
Hi Jamie,
Thanks a lot for this. The [DelegateProxyFactory](https://github.com/nsubstitute/NSubstitute/blob/master/Source/NSubstitute/Proxies/DelegateProxy/DelegateProxyFactory.cs) does a lot of extra work. I think special cases would help. Possibly adding some caching of the proxy expression too.

[2016-09-12 07:18] alexandrnikitin commented on #248
It spends most of the time in `System.Reflection` compiling the delegate
![Profiling](http://i.imgur.com/igiX2o0.png)

There are faster compilers e.g. https://github.com/dadhi/FastExpressionCompiler but I'm not sure we should touch it at all. What do you think?

[2016-09-12 23:09] jcansdale commented on #248
I now have a workaround that lets me substitute an interface rather than a delegate (which is ~80 times faster).

It looks something like this:

[code]

I'm guessing there may be dragons that I'm missing, but this seems to work for my purposes. :smile:

[2016-09-18 12:33] hardhub opened #249 "DynamicProxyGenAssembly2 hardcoded name"
Is it possible to consider option to change this name?

Originally I asked at Castle Project. So as I can see module configuration should be part of NSubstitute.

[DynamicProxyGenAssembly2 hardcoded name #218](https://github.com/castleproject/Core/issues/218#event-793258304)

It is possible to implement a behavior mentioned above and give developers ability to manage the name of dynamic assembly?

[2016-09-19 00:25] dtchepak commented on #249
Hi @maxim-boligatov,
Do you have ideas for how to expose this?
Can you explain a bit of the scenario you need this for?

Regards,
David

[2016-09-19 06:32] maxim-boligatov commented on #249
I want to use custom name of assembly in attribute VisibleInternalsTo.
So it can be just some option in project scope (where NSubstitute is used).
For example attribute of testing assembly can look like: "MyProduct.MyProject.SomeAssemblyName"
And the same name I will have to specify for NSubstitute. So it will generate dynamic proxy assembly with this name.

[2016-09-19 13:18] gtbuchanan commented on #236
I've tried the Shared Project strategy outlined in the OP, but tests using NSubstitute all fail on iOS.

While `Reflection.Emit` is included in .NET Core, dynamic code generation is still not supported at runtime on [iOS][0] or [UWP][1]. The only way to use mocks on these frameworks currently is to create the mocks manually or generate them at compile-time.

Unless Apple and Microsoft decide to st

[2016-09-19 15:37] gtbuchanan commented on #236
After further review of the NSubstitute source, it seems support for iOS/UWP might be possible by implementing `IProxyFactory` for a static proxy library (such as [StaticProxy.Fody][0]) and using compiler flags to inject that proxy for iOS/UWP instead of `CastleDynamicProxyFactory`. It'd be great just to be able to plug in a reference to Fody in the iOS/UWP test projects without having to change a

[2016-09-22 11:52] jcansdale opened #250 "Implicitly implement substituted interfaces"
Hello,

Is there any way to implicitly implement the methods of substituted interfaces?

For example the following test current fails. Is there any way to make it pass without duplicating the `Returns`?

[code]

It looks like the substituted class will look something like this:

[code]

Unfortunately this make the substituting of some COM interfaces particularly awkward.

[2016-09-22 11:58] dtchepak commented on #250
Hi @jcansdale,

If these are the only two methods on the interface (or the only two that return `object`) you could try the [`ReturnsForAll`](http://nsubstitute.github.io/help/return-for-all/) extension. Bit of a hack but might work. Other than that, as far as NSubstitute knows these are two completely different methods so they'd generally need to be stubbed separately.

[2016-09-22 12:17] jcansdale commented on #250
Arg, that's a shame. I'm substituting some pretty big and complex interfaces. 😢

The trick I was using with TypeMock was to create an interface that implements all of my target interfaces and mock that. Something like this:

[code]

Alas this doesn't work with NSubstitute and CodeClass, CodeElement, CodeType end up with separate implementations.

Apart from this the conversion has gone very smooth

[2016-09-25 23:01] dtchepak commented on #250
Sorry the final mile hasn't been that smooth, but happy to hear things went pretty well in general. :)

If you need to do a lot of this you could try hacking something up with reflection.
 For all members on `IServiceProvider`, delegate matching calls on `ServiceProvider` to that instance:

[code]

This would be pretty terrible for test performance I'm guessing, but I think it would work.

I'm not

[2016-09-26 00:11] jcansdale commented on #250
@dtchepak,

Thanks for your reply. I just had another look to see what I could come up with. I've stumbled across a workaround that, while not pretty, isn't error prone like what I was doing before (defining returns individually for each interface).

If I define a new abstract class like this:

[code]

Ctrl-. offers an option that I'd never seen before: "Implement interface abstractly". If I do th

[2016-10-05 12:28] TicoDePano opened #251 "CallInfo caller"
In a complex test class using xUnit and running ordered tests, I need to get the substitute from the CallInfo class in a method that is returned and chained with others.

CallInfo class just allows me to get the arguments, not the substitute caller.

Would be possible to add the substitute caller to the CallInfo class?

[code]

[2016-10-09 10:41] generik0 opened #252 "Does a Substitute with Return needs a recieved definition also when confirming the call??"
Hi
I looking into NSub as a Moq, FakeItEasy and Rhino replacement. The syntax and some features appear to fit our needs more.
But i am a little confused about a little "maybe missing" functionality.

**In FakeItEasy:**
var foo = A.Fake<IBar>();
var myCall = A.CallTo(()=> foo.Something(11));
myCall.Returns(42);
//do some work with target class
myCall.MustHaveHappened();

**In Moq:**
var foo = new M

[2016-10-10 02:18] dtchepak commented on #252
Yes this is true! Although the syntax is `foo.Received().Something(11);`.

The reason we don't have additional support for this is that if we are stubbing something out to provide a value then most of the time the fact this is called is implicitly tested.

For example:

[code]

Here it would be redundant to also check `foo.Received().Something()`, because the fact its stubbed value was used to cal

[2016-10-10 06:07] firehirsch commented on #252
@generik0 : Don't be that lazy in that point!
Laziness may be a good thing sometimes, that keeps you from building things you don't need. But I think its better and easier to understand that test if you write it the way NSubstitute force you to. I even write tests like that if I'm using FakeItEasy or Moq.
The way you suggested would leed to jump back and forth to understand the test. This could be

[2016-10-10 06:18] dtchepak commented on #252
@firehirsch : that's why I put in the proviso that it works better for reference types 😄  . But even so, a parameterised test could eliminate this (or generate a random value to stub).

[2016-10-10 07:04] generik0 commented on #252
In many ways I agree with you points. There is just one thing. Doesn't  NSub provide fakes? And not strict Mocks?
If so, won't foo.something(0) also provide and answer.

You see when I use Rhino,Moq or FakeItEasy you do have methods that return nothing, so you cannot assert the result.
But you do want to assert that helper classes/methods are called with the right values. And you want to assert th

[2016-10-10 15:35] generik0 commented on #252
Hi Again

I have googling and it appears i am not the only one who is looking for strict mocks or to validate the calls with return...
Rhino has it, Moq has it and FakeItEasy has it. So there must be a use case for it..

It just means that the NSubstitute is not the framework for us. But I am sure it is great for others. I especially liked the ForPartOf. It is missing in the others.
Watch out for

[2016-10-10 22:36] dtchepak commented on #252
@generik0: glad we could help! :) It's much better to choose a library that matches how you work than try to force one to do things it is not intended to do. And FakeItEasy is an awesome library. :)
All the best,
David

[2016-10-10 22:36] #252 closed

[2016-10-10 23:22] dtchepak commented on #251
By "substitute caller" do you mean the substitute that was invoked?

Could you use the following instead?

[code]

[2016-10-11 00:38] TicoDePano commented on #251
Yes, this would work.
I do not remember now because the tests were refactored, but generally I do not like to capture variables into lambdas like in this case. There were a lot of substitutions calling the same method.
I think that the caller information, in the CallInfo context, would be a good improvement.
Anyway, sorry for the noise and thanks a lot for this great library.

[2016-10-11 01:01] JackUkleja opened #253 "How to get ICallSpecification from ReceivedCalls() / ICall"
For debugging purposes I am trying to format the output of `ReceivedCalls()`.

That method returns a collection of `ICall`which have various bits I could use myself to build up a debug string but I am assuming there is already something in the library which can do this?

It appears that `ReceivedCallsExceptionThrower`does something similar and that uses `ICallSpecification.Format(call)` but I need

[2016-10-11 01:10] dtchepak commented on #251
No noise, I think it is a good suggestion. Having a quick look at the code I think it would be a fairly invasive change though, and as we've got the reference around already I thought it would be easier to cheat and pass it through. :)

[2016-10-11 01:10] #251 closed

[2016-10-11 01:20] dtchepak commented on #253
Hi Jack,

I'm not sure on the best way to do this, but here are some links that might help:

* [`ICall`](https://github.com/nsubstitute/NSubstitute/blob/master/Source/NSubstitute/Core/ICall.cs) will give you `MethodInfo` and arguments as an `object[]`
* [`ArgumentFormatter`](https://github.com/nsubstitute/NSubstitute/blob/master/Source/NSubstitute/Core/Arguments/ArgumentFormatter.cs) will format a

[2016-10-14 19:43] mattklein999 commented on #210
This just tripped me up too. I guess if you want to control the timing of the data pushed into the Observer then you'd have to do a `foo.WhenStuffHappened.Returns(_myTestingSubject);`

I instead was trying to mock out the call to `.OnNext`, which, now after seeing @paulcbetts snippets, I think was the wrong way to go.

Thanks Paul!

[2016-10-15 22:19] jcansdale opened #254 "Add `Arg.IsNot` (was "Can't replace a `Return` that throws")"
Hello,

I want to create a mock that by default throws an exception, but for known values returns a string. It seems I can't throw for any args and then override the specific value. Looking at the following documentation, I thought I might be able to do this:
http://nsubstitute.github.io/help/replacing-return-values/

Here is an example:

[code]

Looking at NCrunch, I can see what is happening:

!

[2016-10-16 01:51] dtchepak commented on #254
`Arg.IsNot` sounds good. If you've got time to have a look at it I'd gladly accept a PR, otherwise I'll add it to my list but at my current rate of progress it will probably be a while before I get to it 😞  (I should probably start an up-for-grabs tag for smallish tasks like this).

In the meantime, you can use a more verbose version of your `Arg.IsNot` idea with `Arg.Is`:

[code]

For more compli

[2016-10-16 07:59] jcansdale commented on #254
Thanks for the quick response!

`Arg.IsNot` would still be a bit of a workaround. Ideally, I'd be able to do something like this:

[code]

This would be a construct I'd use a *lot*. What do you think of this idea and how feasible do you think it would be?

[2016-10-17 23:01] dtchepak commented on #254
I'm not sold on `.ReturnsWithDefault`, for me at least it is not obvious what it is going to do. I think `Arg.IsNot` is simple enough and useful enough to put in.

The only reason the existing syntax falls down is when the "for any args" part throws an exception. We could add a `.ReturnsForUnconfiguredCalls(...)` that can work after all other configurations are done, but it will require another qu

[2016-10-18 08:48] ElFoggero commented on #229
Another work around is to specify all argument matchers explicitly:
[code]

Anyway, I found the behaviour of NSubstitute very hard to debug and understand. Please consider changing the behaviour, even if this issue is closed.

Consider this:
[code]
This is the common Try... pattern. The actual result is in the out parameter, it is an additional return value. Just as NSubstitute would not match on

[2016-10-18 11:22] jcansdale commented on #254
I think they're both workarounds and not terribly obvious.

Now this, I like a lot. 😄 `ReturnsForUnconfiguredCalls` is maybe a bit verbose, but at least it's consistent with `ReturnsForAnyArgs`.

What do you think of this alternative?

[code]

I quite like the way it mirrors the switch construct:

[code]

It also gets rid of the necessary, but slightly awkward use of `""` and the wordy `ReturnsFor

[2016-10-18 13:19] alexandrnikitin commented on #254
I think you're talking about a feature called "strict mock". It's supported by other libraries, e.g. FakeItEasy http://fakeiteasy.readthedocs.io/en/stable/strict-fakes/ There was a similar discussion in #219 and other issues. As I remember it was the deliberate decision not to have it at that time.
I'm reluctant to introduce anything like `ReturnsWithDefault` or `ReturnsForUnconfiguredCalls` to th

[2016-10-18 15:06] jcansdale commented on #254
If I've understood "strict mocks" correctly, I think what I'm suggesting is different. My code under test has been designed to handle an exception that the API being substituted would normally throw. I'm not suggesting the mock should throw a generic exception for unconfigured calls!

Here's a concrete example:

[code]

If I want to create a substitute that fulfills the above contract, I currently

[2016-10-19 22:59] dtchepak commented on #254
Bit of an aside here, but I wonder if there is a side-issue here about how we think about test doubles? One is having test double that works like a realistic version of an actual class. The other is stubbing for specific tests values to check basic interactions.

The difference in these approaches is shown by Jamie's example (functioning similarly to the real implementation), compare with the foll

[2016-10-21 11:24] jcansdale commented on #254
I think the danger here is that we write our tests knowing a little too much about how our code under test behaves. What if the code changes a little and starts looking for a different file? With the default for string returning "", there is a chance the test will continue to pass when it should have failed.

When you are expecting a specific call, it certainly makes sense to specify the call expl

[2016-10-21 12:34] dtchepak commented on #254
I'm not sure on the best approach for this. It will have to be a reasonably-sized change, although I think it will mainly be adding stuff rather than interfering with existing code too much.

I would suggest an approach along these lines:

* Adjust [RecordReplay](https://github.com/nsubstitute/NSubstitute/blob/f3608f0a55cabcc78c50f33466d867b537e19405/Source/NSubstitute/Routing/RouteFactory.cs#L67)

[2016-10-21 14:39] jcansdale commented on #254
I've been having another play with `ReturnsForAll`. With my [StaticMocks](https://jcansdale.github.io/StaticMocks/) library, there is a 1:1 mapping between static methods and substituted delegate. Because of this I'm able to use `ReturnsForAll` for individual methods.

In one of those rare cases where everything suddenly falls into place with a few lines of code, I've been able to replace this:

[

[2016-10-21 16:12] jcansdale commented on #254
@dtchepak,

Thanks for your extensive reply. I can see it's pretty tricky, whichever way you cut it!

Might allowing something like this be easier:

[code]

Or even...

[code]

Basically allowing a method name string as a filter for `ReturnsForAnyArgs` (as well as the return type). `ThrowsForAnyArgs` needn't care about the return type. I'm guessing this could be implemented as an extra dictionary,

[2016-10-24 12:22] jcansdale commented on #254
FYI, the way I'm now handling this now in StaticMocks is like this (https://github.com/jcansdale/StaticMocks/issues/4):

[code]

See also:
https://github.com/jcansdale/StaticMocks/blob/master/README.md#how-do-i-specify-default-values-or-exceptions

Because the user needs to establish a `StaticMock` context, it makes is easier for me to take advantage of `ReturnsForAll`. 😄

[2016-10-25 19:06] Zvirja opened #255 "Use newer NUnit version"
I've tried to compile your project (`NSubstitute.2010.sln`) using the `NET45-Debug` or `NET40-Debug` configurations and found that I'm unable to run Unit Tests using the R# runner. That's because project is referencing ancient version of NUnit ([see related Stack Overflow question](http://stackoverflow.com/questions/7893522/cannot-get-my-nunit-tests-to-run-because-of-error)). If I switch to `NET20

[2016-10-25 23:32] dtchepak commented on #255
Yes I generally leave it in NET35 mode (to ensure I code for lowest common denominator) and run tests from the command line. But it would be great to fix this. Do you have time to do a PR?

In terms of libraries in the repo, there are several reasons. The first is that nuget didn't exist when we started. :) Even if we were to use nuget though I'd check in the packages to ensure that if I clone the

[2016-10-27 00:12] Zvirja commented on #255
It might be a bit hard for me to do that, because there are a lot of dependencies. Likely, the FAKE scripts depend on runner, while I don't have experience with it.
If we switch to nuget, we'll need to restore package on build - again, xp with FAKE is welcome.

Therefore, if I find a free time to dig into all that stuff - I'll try. If not - likely, somebody will do that faster :)

[2016-10-27 00:22] dtchepak commented on #255
I can update the FAKE script, although if we stick with NUnit 2 i don't think any modifications will be required ([test task](https://github.com/nsubstitute/NSubstitute/blob/master/build.fsx#L87) locates nunit runner automatically).

If you want to dump a new version of nunit into the dependencies folder then you're welcome to, otherwise just run from the command line :)

[2016-10-27 00:23] dtchepak commented on #255
I don't think we'd need to add package restore to the build if we check the packages in to git?

[2016-10-27 13:57] TheSatoshiChiba opened #256 "Threading issue with CallRouter."
CallRouter is not thread-safe because it allows mutation between SetSate(...) and Route(...). See for example: public static T Received<T>(...) in SubstituteExtensions:

[code]

Another thread could call SetRoute(...) directly after it has been called within Received(...) which would lead to a current route mutation and therefore unexpected or erroneous behaviour. Consider the following scenario:

[2016-10-27 18:59] Zvirja commented on #255
I've investigated that more and found that issue is not related to the NUnit version. After I updated NUnit, R# was still unable to trigger tests. It appeared that it's because R# is unable to property resolve target .NET version for project. Likely, configuration in `*.csproj` was composed manually, because VS is also unable to manage projects correctly:

![image](https://cloud.githubusercontent.

[2016-10-27 21:41] dtchepak commented on #256
Thanks @TheSatoshiChiba,

I think this is ok. The rule for threading with NSubstitute is that a substitute must be configured on a single thread, but should be callable from multiple threads. AFAICT this only affects configuration?

[2016-10-27 21:43] dtchepak commented on #255
Thanks for the analysis. :)

[2016-10-27 21:43] #255 closed

[2016-10-28 12:11] TheSatoshiChiba commented on #256
What about assertions? What is the threading rule on those? Because this issue would only allow assertions (checking for received calls) on a single thread. So it doesn't only affect configuration. It affects scenarios where you would have calls on the substituted object in one thread while trying to assert them in another at roughly the same time. If the usage of the library is intended to be sin

[2016-10-28 18:42] alisonjonck opened #257 "Substitute for method with Expression<Func<T,>> parameters won't work"
Using Substitute for a method that accepts an Expression Func won't invoke the Returns that was specified.

For example:

[code]

_something_ value will be its default value(e.g.: it would be 0 in case its type is integer)

Passing null parameter instead of the lambda expression it works fine:

[code]

[2016-10-29 01:03] dtchepak commented on #257
Hi @alisonjonck,

This is because the expressions are different instances -- .NET doesn't provide equality for them.

There are some [options for testing these cases here](http://stackoverflow.com/a/5658873/906).

[2016-10-30 22:46] dtchepak commented on #256
Yes assertions should also be check by a single thread at a time.

NSubstitute's syntax means some unavoidable race conditions, such as a call happening between `sub.Received()` and the `.SomeCall()` (and also between a call and a subsequent call to `Returns`). So I've always considered the "test" part of a substitute's behaviour (i.e. configuration and assertions) to be one thing we where we need

[2016-11-01 09:30] TheSatoshiChiba commented on #256
Yes a threading sub-page that outlines the model seems like a sensible idea. Thank you 👍

[2016-11-02 09:46] michaelbaranov opened #258 "Cannot check received when mock is called from method with out parameter"
Reproduced on latest available 1.10

Can be illustrated with following test:

[code]

With debugger I can see that _worker.DoSomething(parameter) is called but ReceivedWithAnyArgs says there were no calls received.
![2016-11-02_1138](https://cloud.githubusercontent.com/assets/1643817/19923816/e66231a6-a0f1-11e6-9a59-b73618be4b39.png)

[2016-11-02 10:10] alexandrnikitin commented on #258
Michael, thank you for the concise repro. The reason is in the marked line below:
[code]

The line is the "act" part of the test. It's how the actual code invokes the method under test.
`Arg.Any<string>` is part of NSubstitute and called argument matcher. Argument matchers can only be used when setting return values and when checking received calls. You can read about them in [the docs](http://nsu

[2016-11-04 05:55] #258 closed

[2016-11-04 05:58] #257 closed

[2016-11-04 07:48] michaelbaranov commented on #258
Hi Alexander!
You are right, I was misusing Arg.Any<string>.
Thanks a lot for explanation!

[2016-11-07 11:57] dtchepak commented on #258
Hi @alexandrnikitin,
I have added a note at the top of the [argument matchers page](http://nsubstitute.github.io/help/argument-matchers/), with a link to [more details](http://nsubstitute.github.io/help/argument-matchers/#how_not_to_use_argument_matchers).

I haven't explicitly mentioned `When..Do` here, I hope it is still clear.

@michaelbaranov: if you get a chance could you please read [this in

[2016-11-07 12:03] dtchepak commented on #256
Hi @TheSatoshiChiba,
Added a [quick note on threading](http://nsubstitute.github.io/help/threading/). Do you think that is sufficient? All suggestions welcome. :)

[2016-11-07 12:37] alexandrnikitin commented on #258
@dtchepak It looks awesome! Thank you!

[2016-11-08 09:23] michaelbaranov commented on #258
@dtchepak looks good, this could save my time. Thank you!

[2016-11-08 10:37] dtchepak commented on #258
@michaelbaranov: thanks for checking it out. 👍 Hopefully it saves someone else some time. :)

[2016-11-10 12:30] TheSatoshiChiba commented on #256
Looks good to me. Thank you :)

[2016-11-10 12:35] #256 closed

[2016-11-16 05:29] lukefan6 commented on #160
@mrinaldi have you tried your approach with `DidNotReceive` ?

I gave your approach a try on my test project and it worked well with `Received` but it did not work as expected with `DidNotReceive`

[2016-11-16 06:25] luciobemquerer opened #260 "Intermittent AmbiguousArgumentsException when running tests in parallel"
We have a set of 1.5k xUnit tests which heavily rely NSubstitute. When running all tests, xUnit executes tests in parallel, and we are frequently having a random one or two of them failing intermittently. If we run the tests separately, they succeed every time.

Tests runs don't fail every time, and it don't always fail with the same tests, but some tests are frequently failing for a time. When we

[2016-11-16 07:52] lukefan6 commented on #167
Hi guys I wonder if there's any progress regarding to this issue?

It is really helpful if n-sub could detect the misuse of argument matcher

[2016-11-16 08:44] dtchepak commented on #167
Hi @lukefan6,
No progress to report sorry. If you've got ideas for how to improve this I'm happy to help test them out.

[2016-11-16 09:08] dtchepak commented on #260
Thanks for this report.

I'm not sure what's happening here. Argument specs are queued and retrieved using [threadlocal storage](https://github.com/nsubstitute/NSubstitute/blob/master/Source/NSubstitute/Core/SubstitutionContext.cs#L20), so I'm not entirely sure the threading is the problem. If you run it single-threaded do you sometimes get the issue? I have a suspicion that there is a test that i

[2016-11-17 03:36] luciobemquerer commented on #260
Thank you for the attention.

1. Yes, xUnit does randomize the execution order of the tests, which I believe is the reason why it is hard for us to identify the cause.

2. So far, running test without parallelism have not caused the exception (but is slow).

3. I started to keep logs of the order that tests start and end, start and end time, and the thread in which tests start and end. It is clear

[2016-11-17 05:25] dtchepak commented on #260
For 5 I think the answer is "yes". For 4 I think it should be ok unless async code is accessing the substitute at the same time as another thread is trying to configure it or assert on it (see #256 for  example).

For a call like `sub.GetFoo(Arg.Any<int>()).Returns(foo)` we get the following:

1. `Arg.Any<int>()` runs, pushing an arg matcher on to a collection that is global for a single thread (t

[2016-11-17 10:35] Zvirja commented on #260
@dtchepak BTW, isn't that something that NSubstitute should handle? Of course, it might be out of scope that we setup fixture and use it concurrently (it's supposed that it's configured and _then_ is used). However, given the fact that we heavily rely on previous call information, shouldn't we ensure that NSubstitute doesn't fail for such scenario?

My concern is that if we have solution with 2k t

[2016-11-17 11:22] dtchepak commented on #260
@Zvirja Happy to give it a try. :) I've got a few thousand tests I can try it out on to test for regressions. :)

Btw, we don't need to rush things out for a particular release. I'm happy to release whenever a new feature hits (with a little delay to let me test out the version on a few test suites.)

[2016-11-17 11:53] Zvirja commented on #260
@dtchepak The reason why I want that for 2.0 is that it might bring some potential breaking changes, so it would be much expected. But I hope to avoid them :)

[2016-11-19 01:14] luciobemquerer commented on #260
@dtchepak @Zvirja Thank you very much for your comments, guys. It would be awesome to have it fixed for a future release. I don't feel confident to make changes to NSubstitute myself for now, but I'll be glad to run my current tests on top of a beta version to help testing.

Even though it seems like a problem I cannot fix myself , your comments will certainly help me take measures to avoid the pr

[2016-11-19 01:40] dtchepak commented on #260
@luciobemquerer: I like the idea of adding more info to the `AmbiguousArgumentsException`. Is that info already in the callstack when the exception gets thrown though? (first non-NSubstitute line?) Even so, it would still be more convenient to but that info in the message though.

[2016-11-19 01:42] dtchepak opened #262 "Add info to AmbiguousArgumentsException"
From [260](https://github.com/nsubstitute/NSubstitute/issues/260#issuecomment-261681884), would be useful to put info on what call is being run in `AmbiguousArgumentsException`, and also the arg matchers available vs. provided arguments (to narrow down what is ambiguous).

[2016-11-21 06:10] trivalik commented on #204
Maybe is the problem that, we copy the list of the event ```ValueChanged```.
[code]

[2016-11-21 23:39] Zvirja opened #263 "Question: Why default route is recreated for each time?"
Hi,

I'm currently working on optimization of NSubstitute to make it more robust to multithreading (e.g. calls on other thread doesn't break the `Returns` extension).

I found that the `RecordReplay` route is recreated [for each time](https://github.com/nsubstitute/NSubstitute/blob/master/Source/NSubstitute/Core/CallRouter.cs#L63) even if current route is default. What is the reason? Is there any

[2016-11-22 03:03] dtchepak commented on #263
I think it is just how it was implemented historically. If there's no handler-specific state hanging around I think it is fine to reuse a route. (Need to make sure in particular that we never blat the `ISubstituteState` for a `CallRouter`.)

[2016-11-22 12:54] Zvirja commented on #260
__P.S. Reply is a "long-read", but please read it and try the suggested diagnostics.__

I've thought more about this and wasn't able to imagine the scenario how that could happen _due to concurrency WITH valid usage_. Specs are pushed to thread local storage, therefore other threads would not affect that. Also, this issue happens _before_ the `ReturnsForAnyArgs` is invoked, so that isn't something

[2016-11-23 19:02] lenkan opened #266 "Possibility to provide a setup action in Substitute.For"
To allow for a more compact syntax when creating simple substitutes, it would be useful to be able provide a 'setup' action in the `Substitute.For` method, like so:

[code]

Instead of the current:
[code]

This is also useful when creating collections of substitutes, example usecase:

[code]

With the current set of `For` overloads, we would have to do this:
[code]

Or alternatively access the ele

[2016-11-23 20:29] alexandrnikitin commented on #266
Thank you for the proposal. I'm not sure about adding that to API, @dtchepak is the best person to decide. You can achieve the same result using the following simple class:
[code]

Another approach is method chaining:
[code]

[2016-11-24 22:40] dtchepak commented on #266
Thanks for the suggestion and well-presented proposal @lenkan. It's a good idea, but I think I'd like to keep this out of the formal API for now, mainly to keep substitute creation simple in terms of concept count and required documentation. I'm also concerned that it quickly becomes unwieldy for all but the simplest of setup cases. And as @alexandrnikitin mentioned it is not too onerous for peopl

[2016-11-24 22:40] #266 closed

[2016-11-25 02:24] dtchepak commented on #260
@Zvirja: yes i think it should fail fast there.

As an aside, I've always wanted to completely rip out the arg matching stuff and replace it with something that evaluates all the possible combinations and throws if there is more than one. (I don't think it would be any slower than the current implementation.) Never got around to it though because the current one works so not sure it is worth the t

[2016-11-25 08:42] elpht opened #267 "Returns with matching arguments does not work when debugging test or during isolated execution"
When I configure a return value for a substitute method matching concrete arguments, it works as expected when all tests are executed (NUnit + ReSharper unit test runner), but if the test is run individually or debugged, it fails.

        [Test]
        public void AddSubscriptorForcePlcDataUpdate()
        {
            // Arrange
            var subscriptor = Substitute.For<IPlcRegistrationData

[2016-11-25 10:32] alexandrnikitin commented on #267
@elpht Thanks for the issue. It's a bit unclear what you intend to do in the test. What are _register, _binding, _extendedPlc, _registrationRequest and others and how are they created?
Could you please post a small repro so that I can copy and paste it into a project and it would reproduce the issue. Ideally it would be a PR with a failing test similar we have in [FieldReports](https://github.com/

[2016-11-25 12:58] elpht commented on #267
Sorry, I was too fast...I tried to create a simple sample to reproduce the issue and I realize that _handler was not initialized before Returns statement. So then only when I tried to match an argument using an expression worked.

Sorry again for the inconvenience

[2016-11-25 12:58] #267 closed

[2016-11-28 05:14] luciobemquerer commented on #260
@Zvirja, thanks a lot for the attention. I managed to reproduce the error while using the diagnostic tool you suggested.
I'm outputting the logs to a file with the following implementations:
[code]
I captured the same error two times.

**EXAMPLE 1**
Logs:
[code]

The line where the exception is thrown is the same I mentioned in the opening of this issue.
[code]
Obviously, the Int64 matcher is the

[2016-11-28 23:53] Zvirja commented on #260
@luciobemquerer __HUGE__ thanks for your try and for such a verbose reply!
To be honest, I'm totally frustrated by your answer. I don't see any potential way how that could happen. The only way I can imagine that it is to assume that you identified places wrongly or that are not real substitutes - it's always to simpler to believe in human mistake than to become crazy :) But I trust you, of course

[2016-11-29 01:38] luciobemquerer commented on #260
@Zvirja I believe I finally spotted the problem. The item 2 in your previous response called my attention to it, because the method being called was `Query()`, instead of `ExecuteQuery()`. The first one is static extension method that wraps around the second one to validate the input query parameter, and cast the result to a strongly typed object. It is the combination of this with the `FixAwaitPr

[2016-11-29 01:44] dtchepak commented on #260
Please don't apologise. It's NSubstitute's job to make your life easier, this is one area where it has definitely failed you. Sorry for the hassle it's caused. And thanks for going to the effort to collect information for us and for posting the source of the problem. @Zvirja, thanks so much for your efforts with this task too!

[2016-11-29 10:58] Zvirja commented on #260
@luciobemquerer Cool, so happy to figure out the root cause of the issue. I wasn't able to stop thinking about this, because it was really curious issue ;) Now I can have a rest 😫

I'd like to thank you for your involvement and for the job you did from your side. It would be just one more unresolved issue without your investigation! I suspected that it's something task related (because they were p

[2016-12-02 17:34] m-wilczynski opened #268 ".Returns fires all delegates registered previously on Substitute"
Hello,

I would like to know whether it's an intended behaviour, that if you call multiple times `Returns<T>(Func<CallInfo, T> returnThis, params Func<CallInfo, int>[] returnThese)` on same Substitute, it will return last configured value (obviously) but will call all `returnThis` registered previously?

What I mean is if I do something like this:
[code]

should it really call both `Func` I did re

[2016-12-03 00:01] dtchepak commented on #268
Hi Michał,

Thanks for the report.

There is an undocumented feature you can use to do this already: https://github.com/nsubstitute/NSubstitute/blob/master/Source/NSubstitute/Extensions/ClearExtensions.cs

First you'll need to bring these extensions into scope with `using NSubstitute.ClearExtensions`, then you can use `sub.ClearSubstitute(ClearOptions.ReturnValues)` (options described [here](https

[2016-12-03 00:02] #263 closed

[2016-12-05 04:26] dtchepak commented on #180
Closing this as we now use FAKE build. Happy to reopen if someone can contribute a PR to replace jekyll with a non-Ruby dependent tool.

[2016-12-05 04:26] #180 closed

[2016-12-06 02:36] jakejgordon commented on #168
I'm surprised this hasn't been a hotter issue! One of the first features I looked for when looking for alternatives to Rhino Mocks was an equivalent to "GetArgumentsForCallsMadeOn". However, as @dtchepak pointed out to me [in this discussion](https://groups.google.com/forum/#!topic/nsubstitute/BNvZVWD-IAY), a better solution is just to provide a better, more detailed message when you have more com

[2016-12-06 05:05] dtchepak commented on #168
Yes I don't think this is an easy first change. :)
See also #160.

[2016-12-10 15:52] m-wilczynski commented on #268
Hey David,

Sorry for late response.
I gave `ClearExtensions` a shot recently, working so far as I wanted it to.
Would be worth documenting it somehow though. :)

Either way, thanks for clarifying!

[2016-12-12 01:23] dtchepak opened #269 "Replace jekyll doc generation with .NET-based generator"
Would be nice to finish removing the Ruby dependency from the builds.

http://www.hanselman.com/blog/ExploringWyamANETStaticSiteContentGenerator.aspx

[2016-12-12 11:59] alexandrnikitin commented on #269
Just one more option: there's `pretzel` that's close to Jekyll and "should be compatible with basic Jekyll websites." https://github.com/Code52/pretzel

[2016-12-17 03:06] dtchepak commented on #260
Hi @luciobemquerer,
@Zvirja's efforts to improve thread safety are in the latest release [2.0.1-rc](https://www.nuget.org/packages/NSubstitute/2.0.1-rc). Hope these changes help! (If not, please re-open this.)

 #262 is still open to improve the message for this case.

[2016-12-17 03:06] #260 closed

[2016-12-20 20:06] #268 closed

[2016-12-21 12:54] alexandrnikitin commented on #249
@maxim-boligatov You can specify it like this `[assembly: InternalsVisibleTo("DynamicProxyGenAssembly2")]` as many others do: https://github.com/search?q=internalsvisibleto+DynamicProxyGenAssembly2&type=Code&utf8=%E2%9C%93
I don't see any problem here. Do I miss something?

[2016-12-21 15:23] maxim-boligatov commented on #249
@alexandrnikitin
Originally I asked:
_Is it possible to consider option to change this name?_

I know it is hardcoded...  but Castle framework used to generate proxy assembly allows to specify custom name (I asked the author). But he said that I cannot specify new name directly. It should be supported by unit test framework (like NSubstitute).

[2016-12-21 18:11] alexandrnikitin commented on #249
@maxim-boligatov to answer your question. Yes, it's possible to set a custom name for Dynamic Proxy assembly. Here's an example https://github.com/alexandrnikitin/NSubstitute/commit/59e2d78d3a3558f6a639ca31ed9e6a7980df387b

Could you please explain why do you need that?

[2016-12-22 04:48] michael-wolfenden opened #270 "NullReferenceException when using ReturnsNull on an method returning a Task"
Given the interface below

[code]

The following code is throwing a `NullReferenceException `

[code]

The only way to successfully return `null` is

[code]

The issue is that `ReturnsNull` returns `null` instead of a Task<string> wrapping a `null` value. This means when you `await`, your awaiting a `null` task, instead of a `Task` whose result is `null`.

The following **additional** extension me

[2016-12-22 05:02] maxim-boligatov commented on #249
It is possible if we will change code.. right?
I am asking about configurable option (from code or from any config file... not hardcoded).

I need my own name for each project (assembly), including test projects.
Each attribute (class, namespace etc.) should meet corresponding pattern.
It is project specific and required to automate some reflection and compiled lambdas.

[2016-12-22 19:52] olegsych opened #271 "Delegate substitute does not set out parameter values"
Delegate substitute does not appear to set out parameter values. This test fails because value `bar` is `0` after the substitute is invoked.
[code]

Method substitute returns `out` parameters as expected. This test passes:
[code]

[2016-12-23 04:56] JackUkleja opened #272 "Problem inspecting substitute in debugger (function evaluation requires all threads to run)"
If I try to inspect substitutes in the debugger I get the message  'The function evaluation requires all threads to run'. If I then click the 'Refresh' button to execute the getter I get the exception:

`error CS0234: The type or namespace name 'IMyInterfaceProxy' does not exist in the namespace 'Castle.Proxies' (are you missing an assembly reference?)`

To see if this is a problem with Castle Dyn

[2016-12-23 05:06] dtchepak commented on #272
Hi Jack,
Thanks for checking Dynamic Proxy first.
Is this with dotnet core? I don't have any problems debugging substitutes in NET45 with VS2015, but I haven't tried dotnet core.

[2016-12-23 05:10] JackUkleja commented on #272
No, this is with a regular .NET 4.5.2 project. Just updated to NSub 1.10 and still the same problem.

Just checked a few other unit test projects and interfaces. Seem to have the same problem in the debugger.

Strangely the substitutes are still working during normal execution - my tests pass!

[2016-12-23 05:15] dtchepak commented on #272
I wonder if it is something specific to your project? Can you post a small repro?
If I inspect substitutes in VS I can see all the internals (NSubstitute `CallRouter` instance, interceptors etc).

[2016-12-23 05:32] JackUkleja commented on #272
More interesting observations:
- Usually a delay when I first hover over the variable or inspect a property value.
- Seems "intermittent" i.e. Time seems to affect things. For example I just failed to view a property, but while typing this reply I switched back to debug sessions and ... I can see the property value. Very strange.
- Seems it doesn't fail on all properties. Sometimes the first two p

[2016-12-23 05:38] JackUkleja commented on #272
It seems once the substitute has been "used" by a piece of code, then the debugger can view the properties just fine. It's as if something about the VS thread used to execute the getter is failing for some reason, but the test runner thread can get the properties successfully.

I also see two, apparently identical, 'DynamicProxyGenAssembly2' loaded in the Modules. Is two Modules with same name exp